<script lang="ts">
  export let down = false

  $: rotate = down ? 90 : 0
</script>

<svg
  class:down
  style={`transform: rotate(${rotate}deg)`}
  width="8"
  height="11"
  viewBox="0 0 8 11"
  xmlns="http://www.w3.org/2000/svg"
  fill="currentColor"
>
  <path
    d="M1.25 9.75L5.75 5.25L1.25 0.75"
    stroke-width="2"
    fill="transparent"
    stroke="currentColor"
  />
</svg>

<style>
  svg {
    transition: transform 0.325s ease-out;
  }

  .down {
    transition: transform 0.25s ease-out;
  }
</style>
