<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_435_357)">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M7.11584 14C9.93358 14 12.3632 11.9507 13.0426 9.11355L12.9929 9.18978C12.8369 9.42907 12.5229 9.48721 12.2916 9.31965C12.0602 9.15208 11.9992 8.82226 12.1552 8.58297L13.3173 6.80043C13.4334 6.62238 13.637 6.54462 13.8289 6.58551C14.0091 6.60545 14.1703 6.72484 14.2371 6.90996L14.9737 8.95142C15.0697 9.21731 14.9348 9.51812 14.6724 9.6233C14.41 9.72848 14.1196 9.5982 14.0236 9.33232L14.02 9.32235C13.2476 12.5838 10.4494 15 7.11584 15C3.18595 15 0.000148773 11.6421 0.000148773 7.5C0.000148773 3.35786 3.18595 0 7.11584 0C9.83309 0 12.1946 1.60533 13.3933 3.96527L12.4326 4.2828C11.3717 2.30892 9.36775 1 7.11584 1C3.78715 1 1.00015 3.85993 1.00015 7.5C1.00015 11.1401 3.78715 14 7.11584 14ZM6.44568 12.7903L3.19279 10.7332C2.80106 10.4852 2.56156 10.0388 2.56168 9.55713L2.56168 5.44284C2.56191 4.96082 2.80207 4.51443 3.19439 4.26678L6.44728 2.20967C6.64945 2.08184 6.88078 2.0144 7.11653 2.0144C7.35228 2.0144 7.58361 2.08184 7.78578 2.20967L11.0387 4.26678C11.4304 4.5148 11.6699 4.96119 11.6698 5.44284L11.6698 9.55713C11.6696 10.0392 11.4294 10.4855 11.0371 10.7332L7.78418 12.7903C7.58201 12.9181 7.35068 12.9856 7.11493 12.9856C6.87918 12.9856 6.64785 12.9181 6.44568 12.7903ZM3.86283 6.24183L3.86283 9.55713L6.4652 11.2029V7.8876L3.86283 6.24183ZM7.76629 7.88913V11.2029L10.3687 9.55713V6.24335L7.76629 7.88913ZM9.73595 5.04348L7.11577 3.38576L4.4956 5.0417L7.11577 6.69942L9.73595 5.04348Z"
      fill="white"
    />
  </g>
  <defs>
    <clipPath id="clip0_435_357">
      <rect width="15" height="15" fill="white" transform="translate(15 15) rotate(180)" />
    </clipPath>
  </defs>
</svg>
