<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_435_338)">
    <path
      d="M5.54733 0.0271568C5.20602 0.0573616 4.75598 0.150994 4.43582 0.256709C4.10961 0.362424 3.51157 0.652384 3.21557 0.845691C2.12218 1.55851 1.27646 2.73043 0.938173 3.99599C0.756948 4.68464 0.766009 4.44301 0.753928 8.23967C0.744866 10.8644 0.750907 11.7434 0.778091 11.7947C0.832458 11.8944 0.965357 11.9397 1.07711 11.8944C1.12846 11.8732 1.18585 11.8279 1.20699 11.7917C1.23417 11.7434 1.24626 10.8916 1.25834 8.23967C1.27646 4.78129 1.27646 4.74807 1.34291 4.45811C1.64797 3.11704 2.37589 2.02063 3.43002 1.31688C3.95859 0.963487 4.42071 0.767159 5.0701 0.622179C5.33892 0.561771 5.46276 0.55271 6.00039 0.55271C6.54105 0.55271 6.66186 0.561771 6.93672 0.622179C7.87909 0.833609 8.60097 1.2323 9.27754 1.90888C10.1504 2.7848 10.6398 3.84799 10.7424 5.0924C10.7576 5.29175 10.7727 6.82914 10.7727 8.60816C10.7727 11.7192 10.7727 11.7736 10.8331 11.834C10.8663 11.8672 10.9237 11.9004 10.966 11.9125C11.0626 11.9367 11.2197 11.8521 11.2408 11.7645C11.2499 11.7283 11.2529 10.1274 11.2469 8.20947L11.2378 4.72089L11.1562 4.35542C11.0445 3.84799 10.8965 3.43117 10.6518 2.93884C10.3166 2.26529 9.89673 1.73067 9.31681 1.24439C8.44995 0.516465 7.50758 0.12079 6.40815 0.0271568C6.00643 -0.00908756 5.96113 -0.00908756 5.54733 0.0271568Z"
      fill="currentColor"
    />
    <path
      d="M5.05501 3.88123C5.03085 3.91143 4.9795 4.00204 4.94326 4.08359C4.58685 4.92025 3.57501 5.5636 2.14937 5.86564C1.84129 5.92907 1.77484 5.95323 1.71443 6.02572C1.64798 6.10425 1.64496 6.12238 1.66308 6.38817C1.76276 7.79267 2.51786 9.0401 3.74415 9.82239C3.93746 9.9432 4.70464 10.2483 4.97346 10.3087C5.06407 10.3298 5.21509 10.3661 5.30571 10.3932C5.72252 10.505 6.4293 10.4839 7.01224 10.3389C7.35355 10.2573 8.00294 10.0217 8.08147 9.95529C8.11167 9.93112 8.23551 9.84655 8.35935 9.765C9.1809 9.23643 9.79707 8.4481 10.1203 7.51781C10.232 7.20066 10.3498 6.63283 10.3498 6.4214C10.3498 6.26131 10.2531 6.16768 10.0598 6.1405C8.32612 5.89584 7.11192 5.47903 6.24808 4.82662C5.96718 4.61519 5.67118 4.31012 5.5262 4.07453C5.46579 3.9809 5.39934 3.88727 5.37216 3.86612C5.30269 3.81176 5.1124 3.82082 5.05501 3.88123Z"
      fill="currentColor"
    />
    <path
      d="M2.03164 9.94021L1.79907 10.1154L1.91989 10.2604C2.30348 10.7165 3.14618 11.4112 3.21867 11.3326C3.23377 11.3175 3.30626 11.2058 3.38479 11.0819L3.52071 10.8584L3.27304 10.6893C3.13108 10.5956 2.86226 10.36 2.64479 10.1426L2.26724 9.76201L2.03164 9.94021Z"
      fill="currentColor"
    />
    <path
      d="M9.30757 10.218C8.927 10.6046 8.57663 10.8614 8.13867 11.0819C8.00879 11.1483 7.90308 11.2087 7.90308 11.2178C7.90308 11.242 8.12055 11.7433 8.12961 11.7433C8.17189 11.7433 8.47393 11.5923 8.70047 11.4594C9.17165 11.1815 9.67002 10.7617 10.0204 10.3479L10.1382 10.209L9.93582 10.0489C9.82104 9.96432 9.71835 9.88277 9.70022 9.87069C9.68512 9.86162 9.50692 10.0157 9.30757 10.218Z"
      fill="currentColor"
    />
    <path
      d="M4.46001 11.6014C4.41168 11.7524 4.37846 11.8823 4.3845 11.8974C4.40262 11.9246 4.95536 12.0575 5.27552 12.1119C5.5383 12.1572 6.62565 12.1602 6.78573 12.1179L6.89144 12.0907L6.84614 11.8038C6.80989 11.5803 6.78875 11.5199 6.75553 11.5259C6.73136 11.532 6.51389 11.544 6.27226 11.5531C5.75879 11.5742 5.34499 11.532 4.87683 11.4142L4.55062 11.3326L4.46001 11.6014Z"
      fill="currentColor"
    />
  </g>
  <defs>
    <clipPath id="clip0_435_338">
      <rect width="12" height="12" fill="white" />
    </clipPath>
  </defs>
</svg>
