<script lang="ts">
  export let down = false

  $: rotate = down ? 180 : 0
</script>

<svg
  class:down
  style={`transform: rotate(${rotate}deg)`}
  width="25"
  height="10"
  viewBox="0 0 25 10"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M12.5 10L0.808657 0.25L24.1913 0.25L12.5 10Z" fill="white" />
</svg>

<style>
  svg {
    transition: transform 0.25s ease-out;
  }

  .down {
    transition: transform 0.175s ease-out;
  }
</style>
