<script lang="ts">
  const colors = {
    red: ["#FF998E", "#FF6C5C"],
    blue: ["#82DBFF", "#1ABDFF"],
    purple: ["#A965FF", "#943FFF"],
    green: ["#8BF9B9", "#3ED67E"],
  }

  export let color: keyof typeof colors

  $: [start, stop] = colors[color]
</script>

<svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M0 2H15C15.5523 2 16 2.44772 16 3V12C16 12.5523 15.5523 13 15 13H1C0.447715 13 0 12.5523 0 12V2Z"
    fill={`url(#paint0${color}_linear)`}
  />
  <path
    d="M0 1C0 0.447715 0.447715 0 1 0H13C13.5523 0 14 0.447715 14 1V2H0V1Z"
    fill={`url(#paint1${color}_linear)`}
  />
  <defs>
    <linearGradient
      id={`paint0${color}_linear`}
      x1="1"
      y1="3.5"
      x2="14.157"
      y2="6.89097"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color={start} />
      <stop offset="1" stop-color={stop} />
    </linearGradient>
    <linearGradient
      id={`paint1${color}_linear`}
      x1="0.875"
      y1="0.272727"
      x2="5.71147"
      y2="6.27158"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color={start} />
      <stop offset="1" stop-color={stop} />
    </linearGradient>
  </defs>
</svg>

<style>
  svg {
    margin-left: 0.125rem;
    margin-right: 0.25rem;
  }
</style>
