<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_435_332)">
    <path
      d="M5.678 0.0113297C5.03956 0.0557671 4.4691 0.206855 3.88386 0.485332C3.08877 0.864532 2.45919 1.38297 1.92125 2.10583C1.55178 2.60056 1.20891 3.30564 1.0493 3.90703C0.869001 4.58249 0.880824 4.34548 0.869001 8.08417L0.857178 11.5207L0.919248 11.5888C1.04339 11.7221 1.09068 11.7103 1.61089 11.4052C2.15475 11.0852 2.48284 10.94 3.00305 10.783C4.81788 10.2409 6.96967 10.2587 8.87021 10.8275C9.40816 10.9874 9.85743 11.1711 10.4131 11.4526C10.9097 11.7044 10.9658 11.7162 11.09 11.5918C11.1461 11.5355 11.1491 11.5029 11.1373 8.07529L11.1284 4.61804L11.0516 4.2655C11.0072 4.07293 10.9304 3.77964 10.8772 3.61671C10.7501 3.22269 10.3983 2.5265 10.1501 2.17693C9.89881 1.82735 9.352 1.2704 9.00618 1.01266C8.01896 0.274993 6.87804 -0.0686588 5.678 0.0113297ZM6.1657 5.28164C6.90759 5.77045 7.79136 6.10818 8.94411 6.33629C9.22195 6.38962 9.50865 6.44294 9.58846 6.45479C9.75103 6.47553 9.75398 6.48738 9.68304 6.79548C9.51457 7.51537 9.18352 8.11084 8.66331 8.63224C7.50761 9.79058 5.81101 10.0779 4.3627 9.35805C3.38139 8.8722 2.63063 7.94494 2.36757 6.90806C2.32323 6.72438 2.27889 6.50219 2.27594 6.41332L2.26411 6.25038L2.63949 6.15262C3.30749 5.98079 3.88682 5.7349 4.36861 5.41199C4.6494 5.22831 5.03069 4.86392 5.16961 4.6447L5.26715 4.49361L5.55682 4.78097C5.73416 4.95872 5.96471 5.14832 6.1657 5.28164Z"
      fill="currentColor"
    />
  </g>
  <defs>
    <clipPath id="clip0_435_332">
      <rect width="12" height="12" fill="white" />
    </clipPath>
  </defs>
</svg>
