<script lang="ts">
  export let size = 19
</script>

<svg width={size} height={size} viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M15.7388 0.000159529H3.16711C2.31227 0.0168075 1.4989 0.37171 0.905305 0.987073C0.311707 1.60244 -0.0136909 2.42805 0.000441844 3.28294V15.7702C0.000279239 16.616 0.331872 17.4281 0.923985 18.032C1.5161 18.636 2.32148 18.9836 3.16711 19.0002H15.7388C16.1656 19.0043 16.589 18.9239 16.9846 18.7634C17.3801 18.603 17.7399 18.3657 18.0432 18.0654C18.3465 17.765 18.5873 17.4075 18.7516 17.0136C18.9159 16.6196 19.0005 16.197 19.0004 15.7702V3.28294C19.0075 2.85167 18.9281 2.42335 18.767 2.02326C18.6058 1.62317 18.3662 1.2594 18.0622 0.953427C17.7582 0.647451 17.396 0.40546 16.9969 0.241737C16.5979 0.0780139 16.1701 -0.00412709 15.7388 0.000159529V0.000159529ZM13.7227 10.4079H10.556V13.6591H8.59266V10.4079H5.426V8.45516H8.59266V5.39405H10.556V8.45516H13.7227V10.4079Z"
    fill="white"
  />
</svg>
