<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0)">
    <path
      d="M0.803316 0.248808L0.250171 0.801954C-0.0818878 1.13401 -0.0818878 1.67238 0.250171 2.00444L25.9955 27.7497C26.3275 28.0818 26.8659 28.0818 27.198 27.7497L27.7511 27.1966C28.0832 26.8645 28.0832 26.3262 27.7511 25.9941L2.00581 0.248808C1.67375 -0.0832499 1.13537 -0.08325 0.803316 0.248808Z"
      fill="#F5F6FF"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M26.3717 1.73884C26.1106 1.47728 25.8004 1.2698 25.459 1.12827C25.1176 0.986739 24.7516 0.913948 24.382 0.914063H4.69786C3.9516 0.914765 3.23608 1.21137 2.70818 1.73884L2.66992 1.78136L9.53175 8.63893L9.57001 8.59642C10.2174 7.91909 10.9936 7.37796 11.853 7.00483C12.7125 6.6317 13.6378 6.43408 14.5747 6.42359C15.5116 6.4131 16.4411 6.58994 17.3087 6.94374C18.1763 7.29753 18.9644 7.82114 19.6268 8.4838C20.2892 9.14647 20.8125 9.93482 21.1659 10.8026C21.5193 11.6703 21.6957 12.5999 21.6849 13.5368C21.674 14.4737 21.4759 15.3989 21.1024 16.2582C20.7289 17.1175 20.1875 17.8935 19.5099 18.5405L19.4674 18.5788L26.3292 25.4406C26.3423 25.4267 26.3565 25.4139 26.3717 25.4024C26.8984 24.874 27.1949 24.1588 27.1965 23.4127V3.72852C27.1966 3.35893 27.1238 2.99294 26.9823 2.65153C26.8408 2.31011 26.6333 1.99996 26.3717 1.73884ZM24.382 6.53872H21.5718V3.72852H24.382V6.53872Z"
      fill="#F5F6FF"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M14.4449 21.445C14.063 21.5112 13.6762 21.5453 13.2885 21.5471C12.3655 21.5499 11.451 21.3707 10.5972 21.0198C9.74348 20.6689 8.96729 20.1531 8.31302 19.502C7.65875 18.8509 7.13925 18.0772 6.78421 17.2252C6.42917 16.3731 6.24557 15.4595 6.2439 14.5364C6.24564 14.1488 6.27978 13.762 6.34593 13.3801L0.636243 7.63635V24.3615C0.635121 24.7309 0.707043 25.0968 0.847871 25.4383C0.988699 25.7797 1.19565 26.09 1.45683 26.3511C1.718 26.6123 2.02825 26.8193 2.3697 26.9601C2.71116 27.1009 3.07709 27.1729 3.44645 27.1717H20.1716L14.4449 21.445Z"
      fill="#F5F6FF"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M17.5246 10.5861C16.7337 9.8 15.6638 9.35876 14.5486 9.35876C13.4334 9.35876 12.3636 9.8 11.5726 10.5861C11.4173 10.7459 11.2751 10.9179 11.1475 11.1005L17.0102 16.9888C17.1928 16.8611 17.3649 16.719 17.5246 16.5637C18.3108 15.7727 18.752 14.7028 18.752 13.5876C18.752 12.4725 18.3108 11.4026 17.5246 10.6116V10.5861Z"
      fill="#F5F6FF"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M10.1951 14.0128C10.1527 14.2227 10.1313 14.4364 10.1314 14.6505C10.1308 15.1012 10.2192 15.5476 10.3914 15.9642C10.5636 16.3807 10.8163 16.7591 11.135 17.0778C11.4537 17.3965 11.8321 17.6492 12.2486 17.8214C12.6652 17.9936 13.1116 18.082 13.5623 18.0814C13.7776 18.0808 13.9924 18.0609 14.2042 18.0219L10.1951 14.0128Z"
      fill="#F5F6FF"
    />
  </g>
  <defs>
    <clipPath id="clip0">
      <rect width="28" height="28" fill="white" />
    </clipPath>
  </defs>
</svg>
