<script lang="ts">
  export let down = false
</script>

<svg
  class:down
  width="6"
  height="3"
  viewBox="0 0 6 3"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M3 0L5.59808 3H0.401924L3 0Z" fill="#555986" />
</svg>

<style>
  .down {
    transform: rotate(180deg);
  }
</style>
