<script>
  export let down = false
  $: rotate = down ? 90 : 0
</script>

<svg
  class:down
  style={`transform: rotate(${rotate - 90}deg)`}
  width="10"
  height="5"
  viewBox="0 0 10 5"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M5.59604 4.55755C5.24211 4.82028 4.75789 4.82028 4.40396 4.55755L1.36667 2.30295C0.593013 1.72866 0.999197 0.499999 1.96271 0.499999L8.03729 0.5C9.0008 0.5 9.40699 1.72866 8.63333 2.30295L5.59604 4.55755Z"
    fill="white"
  />
</svg>

<style>
  svg {
    transition: transform 0.325s ease-out;
  }

  .down {
    transition: transform 0.25s ease-out;
  }
</style>
