<script lang="ts">
  export let color
</script>

<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M0.393408 2.24505L4.60657 0.0929871C4.72624 0.0320635 4.8619 0 4.99998 0C5.13805 0 5.27371 0.0320635 5.39338 0.0929871L9.60659 2.24507C9.72605 2.30632 9.82525 2.39424 9.89428 2.50003C9.96332 2.60582 9.99977 2.72578 10 2.84793V7.15208C9.99977 7.27423 9.96332 7.3942 9.89429 7.49999C9.82525 7.60578 9.72605 7.69369 9.60659 7.75494L5.39341 9.90703C5.27373 9.96794 5.13807 10 5 10C4.86193 10 4.72627 9.96794 4.60659 9.90703L0.393408 7.75494C0.273947 7.69369 0.174743 7.60578 0.105708 7.49999C0.0366724 7.3942 0.000222661 7.27424 0 7.15208V2.84791C0.000222661 2.72576 0.0366724 2.60579 0.105708 2.5C0.174743 2.39421 0.273947 2.3063 0.393408 2.24505ZM5.39338 9.1032L9.21316 7.15208V3.29343L5.39338 5.20357V9.1032ZM4.99872 4.60131L8.86285 2.66896L5.00007 0.695894L1.13587 2.66962L4.99872 4.60131ZM0.786817 7.15208L4.60657 9.1032V5.20492L0.786817 3.29471V7.15208Z"
    fill={color}
  />
</svg>
