<script>
  export let color
</script>

<svg width="18" height="18" viewBox="0 0 18 18">
  <path
    d="M2 18H16C16.5304 18 17.0391 17.7893 17.4142 17.4142C17.7893 17.0391 18 16.5304 18 16V2C18 1.46957 17.7893 0.960859 17.4142 0.585786C17.0391 0.210714 16.5304 0 16 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V16C0 16.5304 0.210714 17.0391 0.585786 17.4142C0.960859 17.7893 1.46957 18 2 18ZM5 11L7.363 13.363L11 8L16 15H2L5 11Z"
    fill={color?.length ? color : "currentColor"}
  />
</svg>
