<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
  <line x1="4" y1="8" x2="4" stroke="currentColor" stroke-width="2" />
  <line y1="4" x2="8" y2="4" stroke="currentColor" stroke-width="2" />
</svg>
