<svg
  width="12"
  height="12"
  viewBox="0 0 10 10"
  xmlns="http://www.w3.org/2000/svg"
  clip-rule="evenodd"
  fill="currentColor"
>
  <path d="M3.75 3.75H4.375V7.5H3.75V3.75Z" />
  <path d="M5.625 3.75H6.25V7.5H5.625V3.75Z" />
  <path
    d="M1.25 1.875V2.5H1.875V8.75C1.875 8.91576 1.94085 9.07473 2.05806 9.19194C2.17527 9.30915 2.33424 9.375 2.5 9.375H7.5C7.66576 9.375 7.82473 9.30915 7.94194 9.19194C8.05915 9.07473 8.125 8.91576 8.125 8.75V2.5H8.75V1.875H1.25ZM2.5 8.75V2.5H7.5V8.75H2.5Z"
  />
  <path
    d="M1.25 1.875V2.5H1.875V8.75C1.875 8.91576 1.94085 9.07473 2.05806 9.19194C2.17527 9.30915 2.33424 9.375 2.5 9.375H7.5C7.66576 9.375 7.82473 9.30915 7.94194 9.19194C8.05915 9.07473 8.125 8.91576 8.125 8.75V2.5H8.75V1.875H1.25ZM2.5 8.75V2.5H7.5V8.75H2.5Z"
  />
  <path d="M3.75 0.625H6.25V1.25H3.75V0.625Z" />
</svg>
