<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect width="19" height="19" rx="2" fill="white" />
  <path
    d="M10.5005 12.2314H8.63281C8.62793 11.9629 8.62549 11.7993 8.62549 11.7407C8.62549 11.1353 8.72559 10.6372 8.92578 10.2466C9.12598 9.85596 9.52637 9.4165 10.127 8.92822C10.7275 8.43994 11.0864 8.12012 11.2036 7.96875C11.3843 7.72949 11.4746 7.46582 11.4746 7.17773C11.4746 6.77734 11.3135 6.43555 10.9912 6.15234C10.6738 5.86426 10.2441 5.72021 9.70215 5.72021C9.17969 5.72021 8.74268 5.86914 8.39111 6.16699C8.03955 6.46484 7.79785 6.91895 7.66602 7.5293L5.77637 7.29492C5.83008 6.4209 6.20117 5.67871 6.88965 5.06836C7.58301 4.45801 8.49121 4.15283 9.61426 4.15283C10.7959 4.15283 11.7358 4.46289 12.4341 5.08301C13.1323 5.69824 13.4814 6.41602 13.4814 7.23633C13.4814 7.69043 13.3521 8.12012 13.0933 8.52539C12.8394 8.93066 12.2925 9.48242 11.4526 10.1807C11.0181 10.542 10.7471 10.8325 10.6396 11.0522C10.5371 11.272 10.4907 11.665 10.5005 12.2314ZM8.63281 15V12.9419H10.6909V15H8.63281Z"
    fill="#1B1B22"
  />
</svg>
