<script>
  export let color
</script>

<svg width="18" height="18" viewBox="0 0 18 18">
  <path
    d="M0 0.993C0 0.445 0.445 0 0.993 0H17.007C17.555 0 18 0.445 18 0.993V17.007C17.9997 17.2703 17.895 17.5227 17.7089 17.7089C17.5227 17.895 17.2703 17.9997 17.007 18H0.993C0.729721 17.9997 0.477302 17.895 0.291135 17.7089C0.104969 17.5227 0.000264735 17.2703 0 17.007V0.993ZM7.622 5.415C7.56182 5.37485 7.49187 5.35177 7.41961 5.34822C7.34734 5.34467 7.27547 5.36079 7.21165 5.39486C7.14782 5.42893 7.09443 5.47967 7.05716 5.54168C7.01989 5.60369 7.00013 5.67465 7 5.747V12.253C7.00013 12.3253 7.01989 12.3963 7.05716 12.4583C7.09443 12.5203 7.14782 12.5711 7.21165 12.6051C7.27547 12.6392 7.34734 12.6553 7.41961 12.6518C7.49187 12.6482 7.56182 12.6252 7.622 12.585L12.501 9.333C12.5559 9.29649 12.6009 9.24698 12.632 9.18889C12.6631 9.13079 12.6794 9.06591 12.6794 9C12.6794 8.93409 12.6631 8.86921 12.632 8.81111C12.6009 8.75302 12.5559 8.70351 12.501 8.667L7.621 5.415H7.622Z"
    fill={color?.length ? color : "currentColor"}
  />
</svg>
