<script>
  import { variables } from "$lib/global/variables"

  const ga = variables.ga
  const globalSiteGtag = ga.globalSiteGtag
  const gtag = ga.gtag

  const createDataLayerWithArgs = () => {
    window.dataLayer = window.dataLayer || []
    function gtag() {
      window.dataLayer.push(arguments)
    }
    gtag("js", new Date())

    gtag("config", globalSiteGtag)
  }

  // prettier-ignore
  const createGtag = () => {
    ;(function (w, d, s, l, i) {
      w[l] = w[l] || []
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" })
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : ""
      //@ts-ignore
      j.async = true
      //@ts-ignore
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl
      f.parentNode.insertBefore(j, f)
    })(window, document, "script", "dataLayer", gtag)
  }
</script>

<!-- prettier-ignore-start -->
<svelte:head>
  <script
    async
    src={`https://www.googletagmanager.com/gtag/js?id=${globalSiteGtag}`}
    on:load={() => {
      createDataLayerWithArgs()
      createGtag()
    }}/>
  <noscript
    ><iframe
      title="gtm"
      src={`https://www.googletagmanager.com/ns.html?id=${gtag}`}
      height="0"
      width="0"
      style="display:none;visibility:hidden"
    /></noscript
  >
</svelte:head>
