<script lang="ts">
  import { createEventDispatcher } from "svelte"
  import ColorPicker from "svelte-awesome-color-picker/ColorPicker.svelte"
  import PickerWrapper from "./PickerWrapper.svelte"
  import Input from "./Input.svelte"
  import PickerIndicator from "./PickerIndicator.svelte"
  import SliderIndicator from "./SliderIndicator.svelte"
  import SliderWrapper from "./SliderWrapper.svelte"
  import Wrapper from "./Wrapper.svelte"
  import type { ColorPaletteValue } from "$lib/stores/objects/makeup/utils"

  const dispatch = createEventDispatcher<{ change: ColorPaletteValue }>()

  /**
   * According to svelte-awesome-color-picker's
   * representation of color:{ a, b, g, h, hex, r, s, v }
   */
  export let color: ColorPaletteValue = { hex: "#c4c4c4ff" }
  export let prevColor = color

  /**
   * ColorPalette component has no "onchange" event.
   * There's a way to extend existing component:
   * https://github.com/homer0/svelte-extend
   *
   * The easiest way to dispatch onchange event in this sutiation
   * is to subscribe to component updates,
   * as we have only "color" variable.
   *
   * Will be fired on each update inside component.
   */
  $: {
    if (color?.hex !== prevColor?.hex) {
      dispatch("change", color)
      prevColor = color
    }
  }

  const components = {
    input: Input,
    sliderIndicator: SliderIndicator,
    sliderWrapper: SliderWrapper,
    alphaIndicator: SliderIndicator,
    alphaWrapper: SliderWrapper,
    pickerIndicator: PickerIndicator,
    pickerWrapper: PickerWrapper,
    wrapper: Wrapper,
  }
</script>

{#if color}
  <div>
    <ColorPicker {components} toRight={true} bind:color />
  </div>
{/if}
