<script lang="ts">
  export let button: HTMLDivElement
  export let isOpen: boolean
  export let color

  const keyup = (e) => {
    if (document.activeElement.isSameNode(button) && !e?.shiftKey && e?.key === "Tab") isOpen = true
  }

  $: hex = color ? color.hex : "#c4c4c4"
</script>

<svelte:window on:keyup={keyup} />

<div class="container">
  <div class="pallete-button" bind:this={button} style="background-color: {hex};" />
  <input bind:value={hex} />
</div>

<style lang="postcss">
  .container {
    display: flex;
    justify-content: center;

    & > div {
      width: 4.75rem;
      height: 1.25rem;
      border-radius: 0.125rem;
      cursor: pointer;
      margin-right: 0.65rem;
      border: 0.063rem solid #33333c;
      background: #4e4e54;
    }
  }

  input {
    max-width: 3.375rem;
    border: none;
    border-radius: 0.125rem;
    display: block;
    text-align: center;
    font-size: 0.625rem;
    font-weight: 700;
    color: var(--text-color);
    background: #4e4e54;
    appearance: textfield;
  }
</style>
