<script lang="ts">
  export let focused: boolean
  export let toRight: boolean
</script>

<div class:focused class:to-right={toRight}>
  <slot />
</div>

<style lang="postcss">
  div {
    display: inline-block;
    margin-right: 0.375rem;
    height: var(--picker-height, 15.375rem);
    width: var(--picker-width, 12.125rem);

    outline: 0.25rem solid transparent;
    outline-offset: 0.25rem;
    transition: outline 0.2s ease-in-out;
  }

  div.to-right {
    margin-right: 0;
    margin-bottom: 0.375rem;
  }

  div.focused {
    outline: 0.25rem solid var(--focus-color, #c4c4c4);
  }

  div > :global(.picker) {
    border-radius: 0.375rem;
  }
</style>
