<script lang="ts">
  export let pos
  export let color
</script>

<div style="left: {pos?.x}%; top: {pos?.y}%; background-color: {color?.hex};" />

<style lang="postcss">
  div {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 0.625rem;
    box-sizing: border-box;
    border: 0.125rem solid #fff;
    margin: -0.625rem;
    pointer-events: none;
  }
</style>
