<script lang="ts">
  export let focused: boolean
  export let toRight: boolean
</script>

<div class:focused class:to-right={toRight}>
  <slot />
</div>

<style lang="postcss">
  div {
    padding: 0.25rem;
    display: inline-block;
    margin: 0 0.375rem;
    width: var(--slider-width, 1.875rem);
    height: var(--picker-height, 12.125rem);

    outline: 0.25rem solid transparent;
    outline-offset: 0.25rem;
    transition: outline 0.2s ease-in-out;

    & > :global(div) {
      border-radius: 0.125rem;
    }
  }

  div.focused {
    outline: 0.25rem solid var(--focus-color, #c4c4c4);
  }

  div.to-right {
    --slider-width: 12.125rem;
    --picker-height: 1.25rem;
    margin: 0;
  }

  div > :global(.alpha) {
    background-image: none;

    &::after {
      background: linear-gradient(0.25turn, rgba(255, 255, 255, 0.75), var(--alpha-color));
      border-radius: 0.125rem;
    }
  }
</style>
