<script lang="ts">
  export let pos: number
  export let toRight: boolean
</script>

<div class:to-right={toRight} style="{toRight ? 'left' : 'top'}: {pos - 3}%;" />

<style lang="postcss">
  div {
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 5rem;
    box-sizing: border-box;
    border: 0.065rem solid #fff;
    background-color: transparent;
    cursor: pointer;
    pointer-events: none;
    z-index: 1;
  }
</style>
