<script lang="ts">
  export let wrapper: HTMLDivElement
  export let isOpen: boolean
  export let isPopup: boolean
  export let toRight: boolean
</script>

<div bind:this={wrapper} class:isOpen class:isPopup class:to-right={toRight}>
  <slot />
</div>

<style lang="postcss">
  div {
    padding: 0.25rem;
    background-color: #3a3a44;
    margin: 0.625rem -9.625rem 1rem;
    border: none;
    border-radius: 0.375rem;
    display: none;
  }

  .isOpen {
    display: block;
  }

  .isOpen.to-right {
    display: flex;
    flex-direction: column;
  }

  .isPopup {
    position: absolute;
    z-index: 2;
  }
</style>
