<script>
  import { backgroundPressets } from "$lib/mock"
  import IcBackground from "$lib/icons/IcBackground.svelte"
  import environment from "$lib/stores/environment"
  import Property from "./Property.svelte"
  import TextureImport from "$lib/components/FileInput.svelte"
  import PropertyHeader from "./PropertyHeader.svelte"
  import Select from "$lib/components/Select.svelte"
  import CheckBox from "$lib/components/CheckBox.svelte"

  $: backgroundTextureName = $environment.getTextureName("background")

  const options = { accept: ".png,.jpeg,.jpg,.mp4" }
</script>

<div class="container">
  <PropertyHeader
    title="Background"
    on:clear={() => {
      $environment.clear("background")
      backgroundTextureName = ""
    }}
  >
    <IcBackground slot="icon" />
  </PropertyHeader>
  <div>
    <Property label="Texture">
      <TextureImport
        {options}
        on:change={async (e) => {
          await $environment.setTexture(e.detail, "background")
          backgroundTextureName = e.detail.name
        }}
        text={backgroundTextureName}
      />
    </Property>
  </div>
  <Property label="Presets">
    <Select
      options={backgroundPressets}
      action={(presset) => {
        if (presset?.url) {
          $environment.setTexture(presset.url, "background")
        }
      }}
    />
  </Property>
  <!-- <Property label="Cubemap 360">
    <CheckBox checked={true} />
  </Property> -->
</div>

<style lang="postcss">
  .container {
    padding: 1rem;

    & > :global(.property) :global(details) {
      width: 6.575rem;

      & > :global(ul) {
        width: 6.575rem;
      }
    }
  }

  div :global(.property) :global(.blend) {
    width: 6.625rem;

    & > :global(ul) {
      width: 6.625rem;
    }
  }
</style>
