<script lang="ts">
  import { lutPressets } from "$lib/mock"
  import Select from "$lib/components/Select.svelte"
  import TextureImport from "$lib/components/FileInput.svelte"
  import Property from "./Property.svelte"
  import colorCorrection from "$lib/stores/color-correction"
  import IcLut from "$lib/icons/IcLut.svelte"
  import PropertyHeader from "./PropertyHeader.svelte"
  import RangeInput from "$lib/components/RangeInput.svelte"
  import NumberInput from "$lib/components/number_input/NumberInput.svelte"
  import CheckBox from "$lib/components/CheckBox.svelte"

  $: filterTextureName = $colorCorrection.getFilterTextureName()
  let opacity = 0

  const options = { accept: ".png" }
</script>

<div class="container">
  <PropertyHeader
    title="LUT's"
    on:clear={() => {
      $colorCorrection.clear()
      filterTextureName = ""
    }}
  >
    <IcLut slot="icon" />
  </PropertyHeader>
  <Property label="Texture">
    <TextureImport
      {options}
      on:change={async (e) => {
        await $colorCorrection.setTexture(e.detail)
        filterTextureName = e.detail.name
      }}
      text={filterTextureName}
    />
    <!-- <CheckBox checked={true} tick={false} /> -->
  </Property>
  <Property label="Presets">
    <Select
      class="presets"
      options={lutPressets}
      action={(presset) => {
        if (presset?.url) {
          $colorCorrection.setTexture(presset.url)
        }
      }}
    />
    <!-- <CheckBox checked={true} tick={false} /> -->
  </Property>

  <!-- <Property label="Opacity">
    <RangeInput gradient bind:value={opacity} />
    <NumberInput bind:value={opacity} controls={false} />
  </Property> -->
</div>

<style lang="postcss">
  .container {
    padding: 1rem;
  }

  div > :global(.property) {
    & :global(input[type="checkbox"]) {
      margin-left: 0.5rem;
      margin-right: 0;
    }

    & :global(.presets) {
      width: 6.625rem;

      & :global(ul) {
        width: 6.625rem;
      }
    }
  }
</style>
