<script lang="ts">
  import hexRgb from "hex-rgb"
  import { afterUpdate } from "svelte"
  import ColorPalette from "$lib/components/color_pallete/ColorPalette.svelte"
  import eyesColor from "$lib/stores/makeup/eyes-color"
  import Property from "./Property.svelte"
  import { parseColor } from "$lib/stores/objects/makeup/utils"
  import IcEyeColor from "$lib/icons/IcEyeColor.svelte"
  import PropertyHeader from "./PropertyHeader.svelte"
  import Select from "$lib/components/Select.svelte"
  import CheckBox from "$lib/components/CheckBox.svelte"
  import TextureImport from "$lib/components/FileInput.svelte"
  import { eyesPressets } from "$lib/mock"

  let color = $eyesColor.getCurrentColor()
  let clear = false

  afterUpdate(() => {
    if (clear) {
      $eyesColor.setColor("0 0 0 0")
      clear = false
    }
  })
</script>

<div class="container">
  <PropertyHeader
    title="Eye color"
    on:clear={() => {
      $eyesColor.clear()
      color = $eyesColor.getCurrentColor()
      clear = true
    }}
  >
    <IcEyeColor slot="icon" />
  </PropertyHeader>
  <Property highlight label="Iris">
    <!-- <CheckBox checked={true} /> -->
  </Property>
  <div>
    <Property label="Base color">
      <ColorPalette
        {color}
        on:change={(e) => {
          const detail = e.detail
          if (!detail.r || !detail.g || !detail.b) return

          //@ts-ignore
          $eyesColor.setColor(parseColor(e.detail))
          $eyesColor.setCurrentColor(e.detail)
        }}
      />
      <CheckBox checked={true} />
    </Property>
  </div>
  <!-- <Property label="Texture">
    <TextureImport />
    <CheckBox checked={true} tick={false} />
  </Property> -->
  <Property label="Presets">
    <Select
      options={eyesPressets}
      action={(presset) => {
        const colorRGBA = hexRgb(presset.color)
        $eyesColor.setColor(
          parseColor({
            hex: presset.color,
            r: colorRGBA.red,
            g: colorRGBA.green,
            b: colorRGBA.blue,
            a: colorRGBA.alpha,
          })
        )
        $eyesColor.setCurrentColor({ hex: presset.color })
        color = { hex: presset.color }
      }}
    />
  </Property>
  <!-- <Property highlight label="Sclera">
    <CheckBox checked={true} />
  </Property>
  <div>
    <Property label="Base color">
      <ColorPalette {color} />
      <CheckBox checked={true} />
    </Property>
  </div> -->
</div>

<style lang="postcss">
  .container {
    padding: 1rem;

    & :global(.pallete-button) {
      width: 3.5rem !important;
    }

    & > div {
      padding: 0.375rem 0;

      & :global(input[type="checkbox"]) {
        margin-right: 0;
        margin-left: 0.5rem;
      }
    }

    & > :global(.property) {
      min-height: 2rem;

      & :global(input[type="checkbox"]) {
        margin-left: 1.45rem;
        margin-right: 0;
      }

      & :global(details) {
        margin-top: 0.25rem;
        width: 8.75rem;

        & > :global(ul) {
          width: 8.75rem;
        }
      }
    }
  }
</style>
