<script lang="ts">
  import StyledRangeInput from "$lib/components/StyledRangeInput.svelte"
  import Property from "./Property.svelte"
  import faceShape from "$lib/stores/makeup/face-shape"
  import IcFaceShape from "$lib/icons/IcFaceShape.svelte"
  import PropertyHeader from "./PropertyHeader.svelte"
  import CheckBox from "$lib/components/CheckBox.svelte"
  import Select from "$lib/components/Select.svelte"
  import FileInput from "$lib/components/FileInput.svelte"

  const min = -1
  const max = 1
  const step = 0.1

  $: shape = $faceShape.shapes
</script>

<div class="container">
  <PropertyHeader
    title="Face shape"
    on:clear={() => {
      $faceShape.clear(true)
      shape = $faceShape.shapes
    }}
  >
    <IcFaceShape slot="icon" />
  </PropertyHeader>
  <!-- <Property label="Presets">
    <Select
      options={[
        { title: "Face pressets _01" },
        { title: "Face pressets _02" },
        { title: "Face pressets _03" },
      ]}
    />
    <CheckBox tick={false} checked={true} />
  </Property>
  <Property label="Presets">
    <FileInput text={"upload your model"} />
    <CheckBox tick={false} checked={true} />
  </Property> -->
  <div>
    <div>
      <h3>Face shape</h3>
      <!-- <CheckBox checked={false} /> -->
    </div>
    <Property label="Width">
      <StyledRangeInput
        {min}
        {max}
        {step}
        bind:value={shape.face}
        on:change={() => {
          $faceShape.face(shape.face)
        }}
      />
    </Property>
  </div>
  <div>
    <h3>Eyes shape</h3>
    <Property label="Scale">
      <StyledRangeInput
        {min}
        {max}
        {step}
        bind:value={shape.eyes}
        on:change={() => {
          $faceShape.eyes(shape.eyes)
        }}
      />
    </Property>
  </div>
  <div>
    <h3>Nose shape</h3>
    <Property label="Width">
      <StyledRangeInput
        {min}
        {max}
        {step}
        bind:value={shape.nose}
        on:change={() => {
          $faceShape.nose(shape.nose)
        }}
      />
    </Property>
  </div>
  <div>
    <h3>Lips shape</h3>
    <Property label="Scale">
      <StyledRangeInput
        min={0}
        {max}
        {step}
        bind:value={shape.lips}
        on:change={() => {
          $faceShape.lips(shape.lips)
        }}
      />
    </Property>
  </div>
</div>

<style lang="postcss">
  .container {
    padding: 1rem;

    & :global(.import) {
      width: 8.125rem;
      background-color: #4e4e54;

      & > :global(svg) {
        display: none;
      }

      & > :global(span) {
        margin: 0;
        color: var(--text-color);
      }
    }

    & :global(input[type="checkbox"]) {
      margin-left: 0.5rem;
    }

    & > :global(.property):nth-child(3) {
      margin-bottom: 2rem;
    }

    & > div {
      padding: 0.375rem 0;

      &:first-of-type {
        margin-top: 0.175rem;
      }

      & > :global(div) {
        &:first-of-type {
          margin-top: 0.25rem;
        }

        padding: 0.5rem 0;
      }

      & > h3,
      & > div > h3 {
        font-weight: normal;
        font-style: italic;
      }

      & > div {
        display: flex;
        align-items: center;

        & > :global(input[type="checkbox"]) {
          margin-left: auto;
        }
      }
    }
  }
</style>
