<script>
  import _ from "lodash"
  import environment from "$lib/stores/environment"
  import Property from "./Property.svelte"
  import TextureImport from "$lib/components/FileInput.svelte"
  import IcForeground from "$lib/icons/IcForeground.svelte"
  import Select from "$lib/components/Select.svelte"
  import { blendMode } from "$lib/mock"
  import PropertyHeader from "./PropertyHeader.svelte"
  import { afterUpdate } from "svelte"
  import Button from "$lib/components/Button.svelte"

  const { capitalize } = _

  $: foregroundTextureName = $environment.getTextureName("foreground")
  $: blendingMode = $environment.getBlendingMode()

  afterUpdate(() => {
    blendingMode = $environment.getBlendingMode()
  })

  $: selectedBlendMode = { title: capitalize(blendingMode), value: blendingMode }
  const options = { accept: ".png,.jpeg,.jpg" }
</script>

<div class="container">
  <PropertyHeader
    title="Foreground"
    on:clear={() => {
      $environment.clear("foreground")
      foregroundTextureName = ""
      selectedBlendMode = blendMode[0]
    }}
  >
    <IcForeground slot="icon" />
  </PropertyHeader>
  <div>
    <Property label="Texture">
      <TextureImport
        {options}
        on:change={async (e) => {
          await $environment.setTexture(e.detail, "foreground")
          foregroundTextureName = e.detail.name
        }}
        text={foregroundTextureName}
      />
    </Property>
    <Property label="Blend">
      <Select
        class="pressets"
        options={blendMode}
        selected={selectedBlendMode}
        action={(presset) => {
          $environment.setBlendingMode(presset.value)
        }}
      />
    </Property>
  </div>
  <!-- <Button class="new-layer">
    <span> add new layers </span>
  </Button> -->
</div>

<style lang="postcss">
  .container {
    padding: 1rem;

    & > :global(.new-layer) {
      margin: 1.5rem auto 0;
      background-color: #4e4e54;
      border-radius: 0.125rem;
    }
  }

  div :global(.property) :global(.pressets) {
    width: 6.625rem;

    & :global(ul) {
      width: 6.625rem;
    }
  }
</style>
