<script lang="ts">
  import hexRgb from "hex-rgb"
  import { afterUpdate } from "svelte"
  import ColorPalette from "$lib/components/color_pallete/ColorPalette.svelte"
  import IcHairColor from "$lib/icons/IcHairColor.svelte"
  import hairColor from "$lib/stores/makeup/hair-color"
  import { parseColor } from "$lib/stores/objects/makeup/utils"
  import Property from "./Property.svelte"
  import PropertyHeader from "./PropertyHeader.svelte"
  import Select from "$lib/components/Select.svelte"
  import RangeInput from "$lib/components/RangeInput.svelte"
  import NumberInput from "$lib/components/number_input/NumberInput.svelte"
  import { hairPressets } from "$lib/mock"

  let color = $hairColor.getCurrentColor()
  let clear = false
  let opacity = 0

  afterUpdate(() => {
    if (clear) {
      $hairColor.setColor("0 0 0 0")
      clear = false
    }
  })
</script>

<div class="container">
  <PropertyHeader
    title="Hair color"
    on:clear={() => {
      $hairColor.clear()
      color = $hairColor.getCurrentColor()
      clear = true
    }}
  >
    <IcHairColor slot="icon" />
  </PropertyHeader>
  <div>
    <Property label="Base color">
      <ColorPalette
        {color}
        on:change={(e) => {
          const detail = e.detail
          if (!detail.r || !detail.g || !detail.b) return

          //@ts-ignore
          $hairColor.setColor(parseColor(e.detail))
          $hairColor.setCurrentColor(e.detail)
        }}
      />
    </Property>
  </div>
  <!-- <Property label="Opacity">
    <RangeInput gradient bind:value={opacity} />
    <NumberInput bind:value={opacity} controls={false} />
  </Property> -->
  <Property label="Presets">
    <Select
      options={hairPressets}
      action={(presset) => {
        const colorRGBA = hexRgb(presset.color)
        $hairColor.setColor(
          parseColor({
            hex: presset.color,
            r: colorRGBA.red,
            g: colorRGBA.green,
            b: colorRGBA.blue,
            a: colorRGBA.alpha,
          })
        )
        $hairColor.setCurrentColor({ hex: presset.color })
        color = { hex: presset.color }
      }}
    />
  </Property>
</div>

<style lang="postcss">
  .container {
    padding: 1rem;

    & > div {
      padding: 0.375rem 0;
    }

    & > :global(.property) :global(details) {
      width: 8.75rem;

      & > :global(ul) {
        width: 8.75rem;
      }
    }
  }
</style>
