<script lang="ts">
  import TextureImport from "$lib/components/FileInput.svelte"
  import Property from "./Property.svelte"
  import { lightning, lightningTextureName } from "$lib/stores/effect"
  import IcLightning from "$lib/icons/IcLightning.svelte"

  const options = { accept: ".png,.jpeg,.jpg,.hdr,.exr" }
</script>

<div class="light">
  <IcLightning />
  <h3>Lightning</h3>
  <Property label="HDR Texture">
    <TextureImport
      {options}
      on:change={(e) => {
        $lightning.importHDR(e.detail)
        $lightningTextureName = e.detail.name
      }}
      text={$lightningTextureName}
    />
  </Property>

  <!-- <Property label="Specular envmap">
    <TextureImport />
  </Property>

  <Property label="Intensity">
    <RangeInput gradient bind:value={intensity} />
    <NumberInput bind:value={intensity} controls={false} />
  </Property> -->
</div>

<style lang="postcss">
  .light {
    padding: 1rem;

    & > h3 {
      margin-bottom: 0.75rem;
      margin-left: 0.5rem;
      display: inline-block;
    }
  }
</style>
