<script lang="ts">
  import hexRgb from "hex-rgb"
  import { afterUpdate } from "svelte"
  import CheckBox from "$lib/components/CheckBox.svelte"
  import ColorPalette from "$lib/components/color_pallete/ColorPalette.svelte"
  import NumberInput from "$lib/components/number_input/NumberInput.svelte"
  import RangeInput from "$lib/components/RangeInput.svelte"
  import lipsColor from "$lib/stores/makeup/lips-color"
  import Property from "./Property.svelte"
  import { parseColor } from "$lib/stores/objects/makeup/utils"
  import IcLipsColor from "$lib/icons/IcLipsColor.svelte"
  import PropertyHeader from "./PropertyHeader.svelte"
  import Select from "$lib/components/Select.svelte"
  import { lipsPressets } from "$lib/mock"

  let min = 0.1
  let max = 1.5
  let color = $lipsColor.getCurrentColor()
  let colorPresset = null
  let opacity = 0

  const toggleLipsShineActive = () => {
    $lipsColor.setShineActive(!$lipsColor.getShineActive())
  }

  $: featureValues = $lipsColor.featureValues

  let clear = false

  afterUpdate(() => {
    if (clear) {
      $lipsColor.setLipsColorProperty("color", "0 0 0 0")
      clear = false
    }
  })
</script>

<div class="container">
  <PropertyHeader
    title="Lips color"
    on:clear={() => {
      $lipsColor.clear()
      featureValues = $lipsColor.featureValues
      color = $lipsColor.getCurrentColor()
      clear = true
    }}
  >
    <IcLipsColor slot="icon" />
  </PropertyHeader>
  <div>
    <Property label="Base color">
      <ColorPalette
        {color}
        on:change={(e) => {
          const detail = e.detail
          if (!detail.r || !detail.g || !detail.b) return

          //@ts-ignore
          $lipsColor.setLipsColorProperty("color", parseColor(e.detail))
          $lipsColor.setCurrentColor(e.detail)
        }}
      />
    </Property>
    <!-- <Property label="Opacity">
      <RangeInput gradient bind:value={opacity} />
      <NumberInput bind:value={opacity} controls={false} />
    </Property> -->
    <Property highlight label="Shine">
      <CheckBox checked={$lipsColor.getShineActive()} on:change={toggleLipsShineActive} />
    </Property>
    <Property label="Color saturation">
      <RangeInput
        bind:value={featureValues.saturation}
        on:change={() => $lipsColor.setLipsColorProperty("saturation", featureValues.saturation)}
        color={"red"}
        {min}
        {max}
        step={0.001}
      />
      <NumberInput
        bind:value={featureValues.saturation}
        on:change={() => $lipsColor.setLipsColorProperty("saturation", featureValues.saturation)}
        {min}
        {max}
        step={0.001}
        controls={false}
      />
    </Property>
    <Property label="Brightness">
      <RangeInput
        bind:value={featureValues.brightness}
        on:change={() => $lipsColor.setLipsColorProperty("brightness", featureValues.brightness)}
        color={"blue"}
        {min}
        {max}
        step={0.001}
      />
      <NumberInput
        bind:value={featureValues.brightness}
        on:change={() => $lipsColor.setLipsColorProperty("brightness", featureValues.brightness)}
        {min}
        {max}
        step={0.001}
        controls={false}
      />
    </Property>
    <Property label="Shine scale">
      <RangeInput
        bind:value={featureValues.shineScale}
        on:change={() =>
          $lipsColor.setLipsColorProperty(
            "shineScale",
            featureValues.shineScale,
            $lipsColor.getShineActive()
          )}
        color={"purple"}
        min={1}
        max={1.05}
        step={0.001}
      />
      <NumberInput
        bind:value={featureValues.shineScale}
        on:change={() =>
          $lipsColor.setLipsColorProperty(
            "shineScale",
            featureValues.shineScale,
            $lipsColor.getShineActive()
          )}
        min={1}
        max={1.05}
        step={0.001}
        controls={false}
      />
    </Property>
    <Property label="Presets">
      <Select
        options={lipsPressets}
        action={(presset) => {
          const colorRGBA = hexRgb(presset.color)

          featureValues.brightness = presset.brightness
          featureValues.saturation = presset.saturation
          featureValues.shineScale = presset.shine
          color = { hex: presset.color }

          $lipsColor.setLipsColorProperty(
            "color",
            parseColor({
              hex: presset.color,
              r: colorRGBA.red,
              g: colorRGBA.green,
              b: colorRGBA.blue,
              a: colorRGBA.alpha,
            })
          )
          $lipsColor.setCurrentColor({ hex: presset.color })
          $lipsColor.setLipsColorProperty("brightness", presset.brightness)
          $lipsColor.setLipsColorProperty("saturation", presset.saturation)
          $lipsColor.setLipsColorProperty("shineScale", presset.shine, $lipsColor.getShineActive())
        }}
      />
    </Property>
  </div>
</div>

<style lang="postcss">
  .container {
    padding: 1rem;

    & > div {
      padding: 0.375rem 0;

      & :global(input[type="checkbox"]) {
        margin-right: 0;
      }

      & :global(input[type="range"]) {
        width: 5.25rem;
      }
    }
  }
</style>
