<script lang="ts">
  import { Entity, object } from "$lib/stores/effect"
  import Accordion from "$lib/components/Accordion.svelte"
  import Property from "./Property.svelte"
  import FileInput from "$lib/components/FileInput.svelte"
  import IcMaterials from "$lib/icons/IcMaterials.svelte"
  import Separator from "$lib/components/Separator.svelte"
  import CheckBox from "$lib/components/CheckBox.svelte"
  import Select from "$lib/components/Select.svelte"
  import NumberInput from "$lib/components/number_input/NumberInput.svelte"
  import renderTarget from "$lib/stores/render-target"

  $: diffuse = $object instanceof Entity ? $object.findMaterialName("diffuse") : null
  $: metallic = $object instanceof Entity ? $object.findMaterialName("metallic") : null
  $: roughness = $object instanceof Entity ? $object.findMaterialName("roughness") : null
  $: normal = $object instanceof Entity ? $object.findMaterialName("normal") : null

  $: msaaValue = $renderTarget?.getMSAAValue()

  const switchMSAA = () => {
    if (msaaValue === 2) $renderTarget.setMSAAValue(1)
    else $renderTarget.setMSAAValue(2)
  }

  let isPhysicsActive = true

  const options = { accept: ".png,.jpeg,.jpg" }
</script>

<div class="materials">
  <Separator class="separator" />
  <Accordion title="Materials">
    <IcMaterials slot="icon" />
    <!-- <Property label="Blend">
      <Select
        class="materials-select"
        options={[{ title: "Off" }, { title: "Temp1" }, { title: "Temp2" }]}
      />
    </Property>
    <Property label="Shader">
      <Select
        class="materials-select"
        options={[{ title: "Glass" }, { title: "Temp1" }, { title: "Temp2" }]}
      />
    </Property> -->
    <Property label="Diffuse">
      <FileInput
        {options}
        on:change={(e) => {
          $object.setTexture("diffuse", e.detail)
          diffuse = e.detail.name
        }}
        text={diffuse}
      />
      <!-- <CheckBox checked /> -->
    </Property>

    <Property label="Metallic">
      <FileInput
        {options}
        on:change={(e) => {
          $object.setTexture("metallic", e.detail)
          metallic = e.detail.name
        }}
        text={metallic}
      />
      <!-- <CheckBox checked /> -->
    </Property>

    <Property label="Roughness">
      <FileInput
        {options}
        on:change={(e) => {
          $object.setTexture("roughness", e.detail)
          roughness = e.detail.name
        }}
        text={roughness}
      />
      <!-- <CheckBox checked /> -->
    </Property>

    <Property label="Normal">
      <FileInput
        {options}
        on:change={(e) => {
          $object.setTexture("normal", e.detail)
          normal = e.detail.name
        }}
        text={normal}
      />
      <!-- <CheckBox checked /> -->
    </Property>

    <!-- <Property label="Emissive">
      <FileInput />
      <CheckBox checked />
    </Property>

    <Property label="Backface">
      <CheckBox checked />
    </Property>

    <Property label="MSAA (demo)">
      <CheckBox on:change={switchMSAA} checked={msaaValue === 2} />
    </Property>

    <Property label="Physics">
      <CheckBox bind:checked={isPhysicsActive} />
    </Property>

    <Property label="Gravity">
      <NumberInput value={9999} controls={false} />
    </Property> -->
  </Accordion>
</div>

<style lang="postcss">
  .materials {
    & :global(.property) {
      min-height: 2rem;
    }

    & :global(input[type="checkbox"]) {
      margin-right: 0;
    }

    & :global(.import) {
      margin-right: 0.75rem;
    }

    & > :global(.separator) {
      width: calc(100% - 2rem);
      margin: 0 auto;
    }

    & :global(.materials-select) {
      & > :global(ul),
      & > :global(summary) {
        background-color: #222229 !important;
        border: 1px solid #33333c;
      }
    }

    & :global(input[type="number"]) {
      width: 3.375rem !important;
      border: 1px solid #33333c !important;
      background: transparent !important;
    }
  }
</style>
