<script lang="ts">
  export let label
  export let highlight = false
</script>

<div class="property">
  {#if label}
    <label class:highlight>{label}</label>
  {/if}
  <div class="content">
    <slot />
  </div>
</div>

<style lang="postcss">
  .property {
    padding: 0.313rem 0;
    display: flex;
    align-items: center;

    & > label {
      padding-right: 0.25rem;
    }
  }

  .content {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  label:not(.highlight) {
    color: var(--text-color-secondary);
  }

  label.highlight {
    color: var(--text-color);
  }

  label {
    font-size: var(--font-size-m);
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
  }
</style>
