<script lang="ts">
  import Button from "$lib/components/Button.svelte"
  import { createEventDispatcher } from "svelte"

  export let title

  const dispatch = createEventDispatcher<{ clear: void }>()
</script>

<header>
  <slot name="icon" />
  <h3>{title}</h3>
  <Button on:click={() => dispatch("clear")} secondary>Clear</Button>
</header>

<style lang="postcss">
  header {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;

    & > h3 {
      margin-left: 0.5rem;
    }

    & > :global(button) {
      margin-left: auto;
      font-weight: 400;
      font-size: 0.5rem;
      font-style: italic;
    }
  }
</style>
