<script lang="ts">
  import NumberInput from "$lib/components/number_input/NumberInput.svelte"
  import RangeInput from "$lib/components/RangeInput.svelte"
  import IcRetouch from "$lib/icons/IcRetouch.svelte"
  import retouch from "$lib/stores/makeup/retouch"
  import Property from "./Property.svelte"
  import PropertyHeader from "./PropertyHeader.svelte"

  const min = 0
  const max = 1

  $: skinSmooth = $retouch.shapes.Skin
  $: whiteTeeth = $retouch.shapes.Teeth

  const step = 0.1
</script>

<div class="container">
  <PropertyHeader
    title="Retouch"
    on:clear={() => {
      $retouch.clear(true)
      skinSmooth = $retouch.shapes.Skin
      whiteTeeth = $retouch.shapes.Teeth
    }}
  >
    <IcRetouch slot="icon" />
  </PropertyHeader>
  <Property label="Skin Smooth">
    <RangeInput
      color={"red"}
      {min}
      {max}
      {step}
      bind:value={skinSmooth.softening}
      on:change={() => {
        $retouch.skin(skinSmooth.softening)
      }}
    />
    <NumberInput
      bind:value={skinSmooth.softening}
      {min}
      {max}
      {step}
      controls={false}
      on:change={() => {
        $retouch.skin(skinSmooth.softening)
      }}
    />
  </Property>
  <Property label="White Teeth">
    <RangeInput
      color={"blue"}
      {min}
      {max}
      {step}
      bind:value={whiteTeeth.whitening}
      on:change={() => {
        $retouch.teeth(whiteTeeth.whitening)
      }}
    />
    <NumberInput
      bind:value={whiteTeeth.whitening}
      {min}
      {max}
      {step}
      controls={false}
      on:change={() => {
        $retouch.teeth(whiteTeeth.whitening)
      }}
    />
  </Property>
  <!-- <Property label="White Eyes">
    <RangeInput color={"purple"} {min} {max} {step} />
    <NumberInput {min} {max} {step} controls={false} />
  </Property> -->
</div>

<style lang="postcss">
  .container {
    padding: 1rem;
  }
</style>
