<script>
  import Property from "./Property.svelte"
  import TextureImport from "$lib/components/FileInput.svelte"
  import PropertyHeader from "./PropertyHeader.svelte"
  import Select from "$lib/components/Select.svelte"
  import IcShaders from "$lib/icons/IcShaders.svelte"
  import shaders, { selectedShader } from "$lib/stores/makeup/camera-shaders"
  import { notifications } from "$lib/stores"
  import { shadersPressets } from "$lib/mock"

  const options = { accept: ".zip" }
  let fileName = ""
</script>

<div class="container">
  <PropertyHeader
    title="Shaders"
    on:clear={() => {
      $shaders.clearShaders()
      fileName = ""
      $selectedShader = shadersPressets[0]
    }}
  >
    <IcShaders slot="icon" />
  </PropertyHeader>
  <div>
    <Property label="Texture">
      <TextureImport
        {options}
        on:change={async (e) => {
          try {
            await $shaders.setCameraShader(e.detail)
            fileName = e.detail.name
          } catch (e) {
            notifications.error(e.message)
          }
        }}
        text={fileName}
      />
    </Property>
  </div>
  <Property label="Presets">
    <Select
      class="presets"
      options={shadersPressets}
      action={(presset) => {
        if (presset?.url) {
          $shaders.setCameraShader(presset.url)
          $selectedShader = presset
        }
      }}
      selected={$selectedShader || shadersPressets[0]}
    />
  </Property>
</div>

<style lang="postcss">
  .container {
    padding: 1rem;

    & :global(.property) :global(.presets) {
      width: 6.625rem;

      & :global(ul) {
        width: 6.625rem;
      }
    }
  }
</style>
