<script lang="ts">
  import NumberInput from "$lib/components/number_input/NumberInput.svelte"
  import Accordion from "$lib/components/Accordion.svelte"
  import IcTransformation from "$lib/icons/IcTransformation.svelte"
  import { createEventDispatcher } from "svelte"

  type Vec3 = Record<"x" | "y" | "z", number>

  export let translation: Vec3
  export let rotation: Vec3
  export let scale: Vec3

  const coordinates = ["x", "y", "z"] as const
  const dispatch = createEventDispatcher<{ clear: void }>()
</script>

<div class="transformation">
  <Accordion title="Transformation">
    <IcTransformation slot="icon" />
    <div>
      <h3>Position</h3>
      {#each coordinates as coordinate}
        <NumberInput bind:value={translation[coordinate]} defaultValue={0} {coordinate} />
      {/each}
    </div>
    <div>
      <h3>Rotation</h3>
      {#each coordinates as coordinate}
        <NumberInput bind:value={rotation[coordinate]} defaultValue={0} {coordinate} />
      {/each}
    </div>
    <div>
      <h3>Scale</h3>
      {#each coordinates as coordinate}
        <NumberInput bind:value={scale[coordinate]} step={0.01} defaultValue={1} {coordinate} />
      {/each}
    </div>
  </Accordion>
</div>

<style lang="postcss">
  .transformation {
    border-bottom: 0.063rem solid var(--bg-color-lighter);
  }

  div:not(.transformation) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:first-child) {
      margin-top: 0.625rem;
    }

    & > :global(div:nth-of-type(1)) {
      color: #fe7161;
    }

    & > :global(div:nth-of-type(2)) {
      color: #26998b;
    }

    & > :global(div:nth-of-type(3)) {
      color: #56c1ff;
    }
  }

  h3 {
    color: var(--text-color-secondary);
    font-size: var(--font-size-m);
    font-style: italic;
    font-weight: normal;
    width: 4rem;
  }
</style>
