<script lang="ts">
  import "../app.css"
  import { studio } from "$lib/stores"
  import { isMobileDevice } from "$lib/utils"

  const mobile = isMobileDevice()
</script>

<section>
  <div class:mobile>
    {#if !mobile}
      <main>
        {#if $studio.loading.complete}
          <slot />
        {:else}
          <progress value={$studio.loading.loaded} max={$studio.loading.total} />
        {/if}
      </main>
    {:else}
      <p>Sorry, WebStudio is unavailable on mobile devices</p>
    {/if}
  </div>
</section>

<style lang="postcss">
  section {
    overflow-x: auto;
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--bg-color);
  }

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 50rem;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  div.mobile {
    min-width: 0;
    justify-content: center;

    & > p {
      text-align: center;
      margin-top: 1rem;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    min-height: 0;
    position: relative;

    & > :global(*) {
      flex-shrink: 0;
    }
  }

  progress {
    appearance: none;
    width: 70%;
    height: 0.5rem;
    margin: auto;

    &::-webkit-progress-bar {
      border-radius: 0.5rem;
      background-color: var(--bg-color-lighter);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

    &::-webkit-progress-value {
      border-radius: inherit;
      background-image: linear-gradient(
          -45deg,
          transparent 33%,
          rgba(0, 0, 0, 0.1) 33%,
          rgba(0, 0, 0, 0.1) 66%,
          transparent 66%
        ),
        linear-gradient(to top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
        linear-gradient(to left, var(--text-color), var(--text-color-secondary));
    }
  }
</style>
