<script lang="ts">
  import Hierarchy from "./studio/_containers/Objects.svelte"
  import Properties from "./studio/_containers/Properties.svelte"
  import SideBar from "./studio/_containers/SideBar.svelte"
  import Toast from "$lib/components/Toast.svelte"
  import Analytics from "./studio/_components/Analytics.svelte"
  import Logo from "$lib/icons/Logo.svelte"
  import Main from "./studio/_containers/Main.svelte"
  import Separator from "$lib/components/Separator.svelte"
</script>

<Analytics />

<SideBar />
<div>
  <section>
    <Logo />
    <Hierarchy />
  </section>
  <Separator vertical />
  <Main />
  <Separator vertical />
  <section>
    <Properties />
  </section>
</div>
<Toast />

<style lang="postcss">
  div {
    display: flex;
    flex-shrink: 1;
    height: 100%;
    min-height: 0;
    padding-left: 2.75rem;

    & > section:first-of-type {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1.875rem;
      height: 100vh;
      min-width: 15.625rem;

      overflow-y: scroll;

      & > :global(svg) {
        min-width: 5.75rem;
        min-height: 2.375rem;
      }
    }

    & > section:not(:first-of-type) {
      padding-top: 2.375rem;
    }

    & > :global(*) {
      flex-grow: 1;
    }

    & > :global(:first-child),
    & > :global(:last-child) {
      flex-grow: 0;
    }
  }
</style>
