<script lang="ts">
  import Button from "$lib/components/Button.svelte"
  import ConsoleError from "../_components/editor/ConsoleError.svelte"
  import IcAlert from "$lib/icons/IcAlert.svelte"
  import { editor, errorLog } from "$lib/stores/editor"
  import { googleAnalytics } from "$lib/analytics"

  const TOP_OFFSET = 15.5
  const REM = 16
  const MAX_HEIGHT = window.innerHeight / REM - TOP_OFFSET
  const MIN_HEIGHT = 10
  const INITIAL_HEIGHT = Math.min(22.875, MAX_HEIGHT)

  let configTab = true
  let expanding = false

  let start = null
  let initial = null
  let height = INITIAL_HEIGHT
  let y = 20

  $: code = $editor?.code

  const startExpand = (event: MouseEvent) => {
    expanding = true
    start = event.pageY
    initial = { y, height }
  }

  const stopExpand = () => {
    expanding = false
    start = null
    initial = null
  }

  const expand = (event: MouseEvent) => {
    if (!expanding) return

    const delta = start - event.pageY
    const nextHeight = initial.height + delta / REM
    y = initial.y - delta

    if (nextHeight > MIN_HEIGHT && MAX_HEIGHT > nextHeight) height = nextHeight
  }
</script>

<svelte:window on:mouseup={stopExpand} on:mousemove={expand} />

<section>
  <main>
    <menu>
      <Button
        class={configTab ? "active" : ""}
        on:click={() => {
          configTab = true
        }}
      >
        <span>config.js</span>
      </Button>
      <Button
        class={!configTab ? "active" : ""}
        on:click={() => {
          configTab = false
          googleAnalytics.editor.scriptingOpen()
        }}
      >
        <span>Console</span>
        {#if $errorLog.size}
          <IcAlert />
        {/if}
      </Button>
      {#if configTab}
        <Button
          class="save"
          on:click={() => {
            $editor.save(code)
            googleAnalytics.editor.scriptingSave()
          }}
        >
          <span>Save</span>
        </Button>
      {:else}
        <Button
          class="clear"
          on:click={() => {
            $errorLog = new Set()
          }}
        >
          <span>Clear</span>
        </Button>
      {/if}
    </menu>

    <div class:configTab class="edit-field">
      {#await import("../_components/editor/СodeEditor.svelte") then editor}
        <svelte:component
          this={editor.default}
          {code}
          style={`height: 100%; max-height: ${MAX_HEIGHT}rem;`}
          on:change={(e) => (code = e.detail)}
          tab={" ".repeat(4)}
          lang="js"
        />
      {/await}
    </div>

    <div
      class:configTab
      class="error-log"
      style={`height: ${height}rem; max-height: ${MAX_HEIGHT}rem`}
    >
      {#each [...$errorLog] as err}
        <ConsoleError msg={err} />
      {/each}
    </div>
  </main>
</section>

<style lang="postcss">
  section {
    z-index: 1;
    padding-top: 1rem;
    position: relative;
    height: 100%;
  }

  main {
    background-color: var(--bg-color);

    & > .edit-field:not(.configTab) {
      display: none;
    }

    & > .edit-field {
      background-color: #2c2c35;
      border-radius: 0.25rem;
    }

    & > menu {
      display: flex;

      & > :global(button) {
        background-color: #202026;
        height: 2.25rem;
        width: 6.125rem;
        border-radius: 0.125rem;

        &:nth-child(2) {
          position: absolute;
          left: 5.75rem;

          & > :global(svg) {
            margin-left: 0.125rem;
          }
        }
      }

      & > :global(.save),
      & > :global(.clear) {
        position: absolute;
        right: 0;
        height: 2rem;
        width: 5.5rem;
        background-color: #26998b;
        border-radius: 0.125rem;
      }

      & > :global(.clear) {
        background-color: var(--bg-color-lighter);
      }

      & > :global(button.active) {
        background-color: #373743;
        z-index: 1;
      }

      & span {
        font-size: 0.625rem;
        font-weight: bold;
      }
    }

    & > .error-log {
      overflow: scroll;
      height: 22rem;

      &.configTab {
        display: none;
      }

      & > :global(p:first-of-type) {
        margin-top: 1.75rem;
      }

      & > :global(p:nth-child(2n - 1)) {
        background-color: #373743;
      }
    }

    & span {
      font-size: 1.125rem;
    }
  }
</style>
