<script lang="ts">
  import Button from "$lib/components/Button.svelte"
  import Editor from "./Editor.svelte"
  import Viewer from "./Viewer.svelte"
  import { sdkVersion, studioVersion } from "$lib/global/version"
  import IcCamera from "$lib/icons/IcCamera.svelte"
  import IcPhoto from "$lib/icons/IcPhoto.svelte"
  import ButtonDropdown from "$lib/components/ButtonDropdown.svelte"
  import { promptUploadFile } from "$lib/utils"
  import { WebStudioException } from "$lib/global/exceptions"
  import { notifications, effect } from "$lib/stores"
  import IcVideo from "$lib/icons/IcVideo.svelte"
  import {
    DEFAULT_IMAGE_PATH_FEMALE,
    DEFAULT_IMAGE_PATH_MALE,
    DEFAULT_VIDEO_PATH_FEMALE,
    DEFAULT_VIDEO_PATH_MALE,
  } from "$lib/stores/viewer"
  import IcNewPreviewFile from "$lib/icons/IcNewPreviewFile.svelte"
  import IcDeviceSimulation from "$lib/icons/IcDeviceSimulation.svelte"
  import CheckBox from "$lib/components/CheckBox.svelte"

  let isViewerSelected = true
  let selectedmediaStream
  let viewer

  const aspectRatios = ["16/9", "9/16", "4/3", "1/1"]

  let isAspectRatioOpen = false
  let aspectRatio = aspectRatios[0]

  const loadPhoto = () => {
    promptUploadFile({ accept: ".jpg,.jpeg,.png,.webp" })
      .then(usePhoto)
      .catch((err) => {
        if (!(err instanceof WebStudioException)) throw new Error(err)
        notifications.error(err.message)
      })
  }

  const loadVideo = () => {
    promptUploadFile({ accept: ".mp4" })
      .then(useVideo)
      .catch((err) => {
        if (!(err instanceof WebStudioException)) throw new Error(err)
        notifications.error(err.message)
      })
  }

  const useCamera = () => {
    viewer?.useCamera()
  }

  const usePhoto = (src?: string | File | Blob) => {
    viewer?.usePhoto(src)
  }

  const useVideo = (src?: string | File | Blob) => {
    viewer?.useVideo(src)
  }
</script>

<section>
  <menu class="topbar">
    <Button on:click={() => (isViewerSelected = true)} class={isViewerSelected ? "active" : ""}
      >Viewer</Button
    >
    <Button on:click={() => (isViewerSelected = false)} class={isViewerSelected ? "" : "active"}
      >JS</Button
    >
    <Button on:click={useCamera} secondary={selectedmediaStream !== "camera"}>
      <IcCamera />
    </Button>
    <ButtonDropdown>
      <IcPhoto color={selectedmediaStream === "photo" ? "#fff" : ""} slot="buttonContent" />
      <Button on:click={() => usePhoto(DEFAULT_IMAGE_PATH_MALE)}>
        <img src="/images/male-preview.jpg" alt="male-preview" />
      </Button>
      <Button on:click={() => usePhoto(DEFAULT_IMAGE_PATH_FEMALE)}>
        <img src="/images/female-preview.jpg" alt="female-preview" />
      </Button>
      <Button on:click={loadPhoto}>
        <IcNewPreviewFile />
      </Button>
    </ButtonDropdown>
    <ButtonDropdown>
      <IcVideo color={selectedmediaStream === "video" ? "#fff" : ""} slot="buttonContent" />
      <Button on:click={() => useVideo(DEFAULT_VIDEO_PATH_FEMALE)}>
        <img src="/images/video-preview-female.jpg" alt="video-preview" />
      </Button>
      <Button on:click={() => useVideo(DEFAULT_VIDEO_PATH_MALE)}>
        <img src="/images/video-preview-male.jpg" alt="video-preview" />
      </Button>
      <Button on:click={loadVideo}>
        <IcNewPreviewFile />
      </Button>
    </ButtonDropdown>
    <Button
      class="aspect-ratio"
      on:click={() => {
        isAspectRatioOpen = !isAspectRatioOpen
      }}
    >
      <IcDeviceSimulation />
      <p>{aspectRatio.replace("/", "x")}</p>
    </Button>
    <div class:isAspectRatioOpen>
      {#each aspectRatios as ratio}
        {#if ratio !== aspectRatio}
          <Button
            on:click={() => {
              aspectRatio = ratio
              isAspectRatioOpen = false
            }}>{ratio.replace("/", "x")}</Button
          >
        {/if}
      {/each}
    </div>
  </menu>
  <div class:isViewerSelected>
    <Viewer {aspectRatio} bind:this={viewer} bind:selectedmediaStream />
    <Editor />
  </div>
  <footer>
    <h3>SDK version is: {sdkVersion}</h3>
    <h3>WebStudio version is: {studioVersion}</h3>
  </footer>
</section>

<style lang="postcss">
  div {
    background-color: #1b1b22;
    padding: 1rem;
    height: calc(100% - 7rem);

    &.isViewerSelected {
      display: flex;
      justify-content: center;
      flex-shrink: 1;
      min-height: 0;

      & > :global(:nth-child(2)) {
        display: none;
      }
    }

    &:not(.isViewerSelected) {
      & > :global(:nth-child(1)) {
        display: none;
      }
    }
  }

  section {
    height: 100%;
    padding-top: 2.75rem;

    & > .topbar > :global(.active) {
      background-color: #1b1b22;
      color: var(--text-color);
    }
  }

  .topbar {
    display: flex;
  }

  .topbar > :global(button:nth-child(1)),
  .topbar > :global(button:nth-child(2)) {
    color: var(--text-color-secondary);
    display: inline-block;
    width: 6.125rem;
    height: 2.375rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  .topbar > :global(button:nth-child(3)) {
    margin-left: auto;
  }

  .topbar > :global(button:nth-child(n + 2)) {
    height: 2.375rem;
    display: inline-flex;
  }

  .topbar > :global(.aspect-ratio) {
    position: relative;
    margin-right: 2rem;
    margin-left: 1rem;

    & > :global(p) {
      width: 1rem;
    }
  }

  .topbar {
    position: relative;

    & > div:not(.isAspectRatioOpen) {
      display: none;
    }

    & > div {
      & > :global(button) {
        display: flex;
      }

      padding: 0;
      top: 2rem;
      right: 1.25rem;
      position: absolute;
    }
  }

  .topbar > :global(input[type="checkbox"]) {
    top: 0.75rem;
    right: 1.5rem;
    margin: 0;
  }

  footer {
    padding: 0;
    width: auto;
    margin: 0 auto;
    height: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 4.625rem;

    & > h3 {
      color: var(--text-color-secondary);
      opacity: 0.54;
      font-size: var(--font-size-s);
      font-weight: normal;
      text-align: center;
      padding: 0.125rem;
    }
  }

  img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.25rem;
  }
</style>
