<script lang="ts">
  import { entities, object, lightning } from "$lib/stores/effect"
  import type { ENV_FEATURES } from "$lib/stores/objects/environment"
  import { Lightning } from "$lib/stores/objects/lightning"
  import shaders from "$lib/stores/makeup/camera-shaders"
  import Container from "$lib/components/Container.svelte"
  import Button from "$lib/components/Button.svelte"
  import IcBackground from "$lib/icons/IcBackground.svelte"
  import IcForeground from "$lib/icons/IcForeground.svelte"
  import IcLut from "$lib/icons/IcLut.svelte"
  import CategoryItem from "../_components/objects/CategoryItem.svelte"
  import Category from "../_components/objects/Category.svelte"
  import EntityTree from "../_components/objects/EntityTree.svelte"
  import faceShape from "$lib/stores/makeup/face-shape"
  import retouch from "$lib/stores/makeup/retouch"
  import environment, { selectedEnvFeature } from "$lib/stores/environment"
  import colorCorrection from "$lib/stores/color-correction"
  import eyesColor from "$lib/stores/makeup/eyes-color"
  import hairColor from "$lib/stores/makeup/hair-color"
  import lipsColor from "$lib/stores/makeup/lips-color"
  import IcRenderMesh from "$lib/icons/IcRenderMesh.svelte"
  import IcBeautification from "$lib/icons/IcBeautification.svelte"
  import IcEnvironment from "$lib/icons/IcEnvironment.svelte"
  import IcColorCorrection from "$lib/icons/IcColorCorrection.svelte"
  import IcEyeColor from "$lib/icons/IcEyeColor.svelte"
  import IcLipsColor from "$lib/icons/IcLipsColor.svelte"
  import IcHairColor from "$lib/icons/IcHairColor.svelte"
  import IcRetouch from "$lib/icons/IcRetouch.svelte"
  import IcFaceShape from "$lib/icons/IcFaceShape.svelte"
  import IcShaders from "$lib/icons/IcShaders.svelte"

  const toggleFaceShapeActive = () => {
    $faceShape?.setActive(!$faceShape.active)
  }

  const toggleRetouchActive = () => {
    $retouch?.setActive(!$retouch.active)
  }

  const toggleFilter = () => {
    $colorCorrection?.setFilterActive(!$colorCorrection.isFilterActive())
  }

  const toggleEnvironmentFeature = (featureType: keyof typeof ENV_FEATURES) => {
    const featureState = $environment?.isEnvironmentFeatureActive(featureType)
    $environment?.setEnvironmentFeatureActive(featureType, !featureState)
  }

  const toggleEyesColorActive = () => {
    $eyesColor?.setEyesColorActive(!$eyesColor.getEyesColorActive())
  }

  const toggleHairColorActive = () => {
    $hairColor?.setHairColorActive(!$hairColor.getHairColorActive())
  }

  const toggleLipsColorActive = () => {
    $lipsColor?.setLipsColorActive(!$lipsColor.getLipsColorActive())
  }

  const toggleCameraShadersActive = async () => {
    if ($shaders.isActive()) await $shaders.deactivate()
    else await $shaders.activate()
  }
</script>

<Container>
  <div class="objects" slot="main">
    <Category title="Render mesh">
      <IcRenderMesh slot="icon" />
      {#if $entities && $lightning}
        <Button
          class="lightning"
          secondary={!($object instanceof Lightning)}
          on:click={() => ($object = $lightning)}
        >
          <span>Lightning</span>
        </Button>
        {#each $entities as entity}
          <EntityTree {entity} />
        {/each}
      {/if}
    </Category>

    <!-- until better times -->

    <Category title="Beautification">
      <IcBeautification slot="icon" />
      <CategoryItem
        title="Face shape"
        on:active={toggleFaceShapeActive}
        on:click={() => {
          $object = $faceShape
        }}
        checked={$faceShape?.active}
      >
        <IcFaceShape />
      </CategoryItem>
      <CategoryItem
        title="Retouch"
        on:active={toggleRetouchActive}
        on:click={() => {
          $object = $retouch
        }}
        checked={$retouch?.active}
      >
        <IcRetouch />
      </CategoryItem>
      <CategoryItem
        title="Hair color"
        on:click={() => ($object = $hairColor)}
        on:active={toggleHairColorActive}
        checked={$hairColor?.getHairColorActive()}
      >
        <IcHairColor />
      </CategoryItem>
      <CategoryItem
        title="Lips color"
        on:click={() => ($object = $lipsColor)}
        on:active={toggleLipsColorActive}
        checked={$lipsColor?.getLipsColorActive()}
      >
        <IcLipsColor />
      </CategoryItem>
      <CategoryItem
        title="Eyes color"
        on:click={() => ($object = $eyesColor)}
        on:active={toggleEyesColorActive}
        checked={$eyesColor?.getEyesColorActive()}
      >
        <IcEyeColor />
      </CategoryItem>
    </Category>

    <Category title="Environment">
      <IcEnvironment slot="icon" />
      <CategoryItem
        title="Background"
        on:click={() => {
          $object = $environment
          $selectedEnvFeature = "background"
        }}
        on:active={() => toggleEnvironmentFeature("background")}
        checked={$environment?.isEnvironmentFeatureActive("background")}
      >
        <IcBackground />
      </CategoryItem>
      <CategoryItem
        title="Foreground"
        on:click={() => {
          $object = $environment
          $selectedEnvFeature = "foreground"
        }}
        on:active={() => toggleEnvironmentFeature("foreground")}
        checked={$environment?.isEnvironmentFeatureActive("foreground")}
      >
        <IcForeground />
      </CategoryItem>
    </Category>

    <Category title="Color correction">
      <IcColorCorrection slot="icon" />
      <CategoryItem
        title="LUT's"
        on:click={() => {
          $object = $colorCorrection
        }}
        on:active={toggleFilter}
        checked={$colorCorrection?.isFilterActive()}
      >
        <IcLut />
      </CategoryItem>
      <CategoryItem
        title="Camera shaders"
        on:click={() => {
          $object = $shaders
        }}
        on:active={toggleCameraShadersActive}
        checked={$shaders?.isActive()}
      >
        <IcShaders />
      </CategoryItem>
    </Category>
  </div>
  <div class="footer" slot="footer" />
</Container>

<style lang="postcss">
  .objects {
    max-width: 15.625rem;
    padding: 1rem;

    & > :global(div) {
      margin-top: 1.375rem;
    }
  }

  :global(.lightning span) {
    font-size: var(--font-size-m);
    font-weight: normal;
    font-style: italic;
  }

  :global(.lightning) {
    margin-left: 1.8rem;
  }

  :global(.delete) {
    margin-left: auto;
    margin-right: -0.05rem;
  }

  .objects :global(.model) {
    width: 6rem;
    height: 0.875rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    background-color: #294e58;
    border-radius: 0.125rem;

    & > :global(span) {
      font-size: var(--font-size-s);
    }
  }

  .footer {
    margin-left: auto;
    margin-right: 0.75rem;
  }
</style>
