<script lang="ts">
  import Container from "$lib/components/Container.svelte"
  import Transformation from "../_components/properties/Transformation.svelte"
  import Materials from "../_components/properties/Materials.svelte"
  import Lightning from "../_components/properties/Lightning.svelte"
  import FaceShape from "../_components/properties/FaceShape.svelte"
  import Retouch from "../_components/properties/Retouch.svelte"
  import ColorCorrection from "../_components/properties/ColorCorrection.svelte"
  import EyesColor from "../_components/properties/EyesColor.svelte"
  import HairColor from "../_components/properties/HairColor.svelte"
  import LipsColor from "../_components/properties/LipsColor.svelte"
  import { Lightning as lightning } from "$lib/stores/objects/lightning"
  import { FaceShape as faceShape } from "$lib/stores/objects/makeup/face-shape"
  import { Retouch as retouch } from "$lib/stores/objects/makeup/retouch"
  import { Environment as environment } from "$lib/stores/objects/environment"
  import { ColorCorrection as colorCorrection } from "$lib/stores/objects/color-correction"
  import { EyesColor as eyesColor } from "$lib/stores/objects/makeup/eyes-color"
  import { HairColor as hairColor } from "$lib/stores/objects/makeup/hair-color"
  import { LipsColor as lipsColor } from "$lib/stores/objects/makeup/lips-color"
  import { object, Entity } from "$lib/stores/effect"
  import Separator from "$lib/components/Separator.svelte"
  import Background from "../_components/properties/Background.svelte"
  import Foreground from "../_components/properties/Foreground.svelte"
  import { selectedEnvFeature } from "$lib/stores/environment"
  import Shaders from "../_components/properties/Shaders.svelte"
  import { Shader } from "$lib/stores/objects/makeup/camera-shaders"
</script>

<Container>
  <h3 slot="header">Properties</h3>
  <div class="properties" slot="main">
    <Separator class="separator" />
    {#if $object instanceof Entity}
      <Transformation
        bind:translation={$object.translation}
        bind:rotation={$object.rotation}
        bind:scale={$object.scale}
      />
      {#if $object.materials.length}
        <Materials />
      {/if}
    {/if}
    {#if $object instanceof lightning}
      <Lightning />
    {/if}
    {#if $object instanceof faceShape}
      <FaceShape />
    {/if}
    {#if $object instanceof retouch}
      <Retouch />
    {/if}
    {#if $object instanceof hairColor}
      <HairColor />
    {/if}
    {#if $object instanceof lipsColor}
      <LipsColor />
    {/if}
    {#if $object instanceof eyesColor}
      <EyesColor />
    {/if}
    {#if $object instanceof environment}
      {#if $selectedEnvFeature === "background"}
        <Background />
      {:else if $selectedEnvFeature === "foreground"}
        <Foreground />
      {/if}
    {/if}
    {#if $object instanceof colorCorrection}
      <ColorCorrection />
    {/if}
    {#if $object instanceof Shader}
      <Shaders />
    {/if}
  </div>
</Container>

<style lang="postcss">
  .properties {
    & :global(span),
    & :global(label) {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
      display: block;
    }

    & > :global(.separator) {
      margin: 0.825rem auto 0;
      width: calc(100% - 2rem);
    }
  }
</style>
