<script lang="ts">
  import { effect } from "$lib/stores"
  import { promptUploadFile } from "$lib/utils"
  import { WebStudioException } from "$lib/global/exceptions"
  import { googleAnalytics } from "$lib/analytics"
  import { makeup } from "$lib/stores/effect"
  import FeedbackFormContent from "../_components/feedback/Content.svelte"
  import TemplatesWindowContent from "../_components/templates/Content.svelte"
  import notifications from "$lib/stores/notifications"
  import Button from "$lib/components/Button.svelte"
  import IcImport from "$lib/icons/IcImport.svelte"
  import IcExport from "$lib/icons/IcExport.svelte"
  import IcGltf from "$lib/icons/IcGLTF.svelte"
  import IcResetAll from "$lib/icons/IcResetAll.svelte"
  import IcStore from "$lib/icons/IcStore.svelte"
  import IcTutorials from "$lib/icons/IcTutorials.svelte"

  const checkLoadError = (err) => {
    if (!(err instanceof WebStudioException)) throw new Error(err)
    notifications.error(err.message)
  }

  const load = () => {
    promptUploadFile({ accept: ".zip" }).then($effect.load).catch(checkLoadError)
  }

  const importGLTF = (physics: boolean) => {
    promptUploadFile({ accept: ".zip" })
      .then((file) => $effect.import(file, physics))
      .catch(checkLoadError)
  }

  const tryLoadFromUrl = async (url: string) => {
    const response = await fetch(url)

    if (response.ok) {
      try {
        await $effect.import((await response.blob()) as File, true)
      } catch (err) {
        checkLoadError(err)
      }
    } else {
      throw new Error("Error obtaining effect by URL")
    }
  }

  let isGltfLoadedByUrl = false

  $: {
    // The only way to be sure gltf model will be loaded after makeup effect is loaded,
    // we can't normally prevent loading makeup effect, because of EFFECT_ACTIVATED_EVENT event listener in player
    if ($makeup && !isGltfLoadedByUrl) {
      const url = new URLSearchParams(window.location.search)
      if (url.get("effect")) tryLoadFromUrl(url.get("effect"))
      isGltfLoadedByUrl = true
    }
  }
</script>

<menu>
  <section>
    {#await import("svelte-simple-modal") then modal}
      <svelte:component this={modal.default}>
        <TemplatesWindowContent class="templates-button" />
      </svelte:component>
    {/await}
    <Button on:click={$effect.new}>
      <IcResetAll />
      <span>Reset all</span>
    </Button>
    <Button on:click={load}>
      <IcImport />
      <span>Open mask</span>
    </Button>
    <Button
      on:click={() => {
        googleAnalytics.objects.addNewObject()
        importGLTF(true)
      }}
    >
      <IcGltf />
      <span>Import gltf with physics</span>
    </Button>
    <Button
      on:click={() => {
        googleAnalytics.objects.addNewObject()
        importGLTF(false)
      }}
    >
      <IcGltf />
      <span>Import gltf with animation</span>
    </Button>
    <Button on:click={$effect.export}>
      <IcExport />
      <span>Save</span>
    </Button>
  </section>
  <section>
    <Button>
      <IcStore />
      <a target="_blank" rel="external noopener noreferrer" href="https://assetstore.banuba.com/"
        >Store</a
      >
    </Button>
    <Button>
      <IcTutorials />
      <a
        target="_blank"
        rel="external noopener noreferrer"
        href="https://drive.google.com/file/d/1RBjmewRaL0lV6MFDqrg8SB19mwEZwkbv/view"
      >
        Tutorial
      </a>
    </Button>
    {#await import("svelte-simple-modal") then modal}
      <svelte:component this={modal.default}>
        <FeedbackFormContent class="feedback-button" />
      </svelte:component>
    {/await}
  </section>
</menu>

<style lang="postcss">
  span,
  section > :global(.feedback-button) > :global(span) {
    display: none;
    overflow: hidden;
    min-width: 4.375rem;
  }

  section > :global(.templates-button) > :global(span) {
    display: none;
    min-width: 4.375rem;
  }

  section > :global(button) {
    margin-top: 0.5rem;
  }

  menu {
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 2.75rem;
    background-color: var(--bg-color-darker);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9.375rem 0.75rem 3.5rem;
    overflow: hidden;
    transition: width 0.3s ease;

    &:hover {
      width: 7.25rem;

      & :global(span),
      & :global(a) {
        display: inline;
      }
    }

    & > section:nth-child(2) {
      position: absolute;
      bottom: 3.5rem;
    }
  }

  a {
    display: none;
    min-width: 4.375rem;
  }
</style>
