<script lang="ts">
  import Button from "$lib/components/Button.svelte"
  import IcSun from "$lib/icons/IcSun.svelte"
  import IcMoon from "$lib/icons/IcMoon.svelte"

  export let theme: "light" | "dark" = "dark"

  $: light = theme === "light"
  $: dark = theme === "dark"
</script>

<div>
  <Button on:click={(_) => (theme = "light")} secondary={dark}>
    <IcSun />
  </Button>
  <Button on:click={(_) => (theme = "dark")} secondary={light}>
    <IcMoon />
  </Button>
</div>

<style lang="postcss">
  div {
    display: flex;

    & > :global(:not(:first-child)) {
      margin-left: 0.25rem;
    }
  }
</style>
