<script lang="ts">
  import { onMount } from "svelte"
  import viewer from "$lib/stores/viewer"
  import Container from "$lib/components/Container.svelte"
  import { effectLoading } from "$lib/stores/objects/effect-manager"
  import { gltfLoading } from "$lib/stores/objects/converter/converter"
  import { fps } from "$lib/stores/studio"
  import { variables } from "$lib/global/variables"

  export let selectedmediaStream: "camera" | "photo" | "video" = "camera"
  export let aspectRatio = ""

  let webar: HTMLElement

  $: loading = $effectLoading || $gltfLoading

  export const useCamera = () => {
    $viewer
      .webcam()
      .then((_) => {
        $viewer.render(webar)
        selectedmediaStream = "camera"
      })
      .catch((err) => usePhoto())
  }

  export const usePhoto = (src?: string | File | Blob) => {
    $viewer.photo(src)
    $viewer.render(webar)
    selectedmediaStream = "photo"
  }

  export const useVideo = (src?: string | File | Blob) => {
    $viewer.video(src)
    $viewer.render(webar)
    selectedmediaStream = "video"
  }

  onMount(() => {
    useCamera()
    return () => $viewer.unmount()
  })
</script>

<Container {aspectRatio}>
  <div slot="header">
    <p class:loading>{$gltfLoading ? "Converting gltf to bsm..." : "Effect is loading..."}</p>
    {#if variables.stg}
      <span>fps: camera:{$fps.cam}. processing:{$fps.processing}. render:{$fps.render}</span>
    {/if}
  </div>
  <div class="main" slot="main" bind:this={webar} />
</Container>

<style lang="postcss">
  [slot="header"] {
    display: flex;
    align-items: center;

    & > p:not(.loading) {
      display: none;
    }

    & > span {
      margin-left: 5rem;
    }

    & > p.loading {
      display: block;
    }

    & > :global(:not(:fisrt-child)) {
      margin-left: 0.125rem;
    }
  }

  [slot="main"] {
    overflow: hidden;
    display: flex;
    flex-shrink: 1;
    height: 100%;

    & > :global(canvas) {
      width: 100%;
      object-fit: cover;
    }
  }
</style>
