<script lang="ts">
  import { getContext } from "svelte"
  import Button from "$lib/components/Button.svelte"
  import IcNew from "$lib/icons/IcNew.svelte"
  import TemplatesWindow from "./TemplatesWindow.svelte"
  import { makeup } from "$lib/stores/effect"

  const { open } = getContext("simple-modal")

  const showTemplatesWindow = () => {
    open(
      TemplatesWindow,
      {},
      {
        closeButton: false,
        closeOnEsc: false,
        closeOnOuterClick: false,
        styleContent: {
          paddingTop: "0",
          paddingBottom: "0",
          paddingLeft: "0",
          paddingRight: "0",
          borderRadius: "0.625rem",
        },
        styleWindow: { width: "100%", borderRadius: "1rem" },
        styleWindowWrap: {
          paddingLeft: "16rem",
          paddingRight: "16rem",
          borderRadius: "1rem",
        },
        styleBg: { background: "rgba(34, 34, 41, 0.8)" },
      }
    )
  }

  let shown = false
  $: {
    if ($makeup && !shown) {
      showTemplatesWindow()
      shown = true
    }
  }
</script>

<Button class={$$props.class} on:click={showTemplatesWindow}>
  <IcNew />
  <span>New</span>
</Button>
