<script lang="ts">
  import { createEventDispatcher } from "svelte"
  import Button from "$lib/components/Button.svelte"
  import IcZip from "$lib/icons/IcZip.svelte"
  import IcFile from "$lib/icons/IcFile.svelte"
  import { downloadByUrl } from "$lib/stores/utils/file-reader"

  export let bgStatic = "none"
  export let bgDynamic = "none"
  export let zipUrl = ""
  export let sourcesfUrl = ""
  export let title = ""
  export let description = ""

  let bg = bgStatic || bgDynamic
  let main: HTMLElement

  const dispatch = createEventDispatcher<{ click: void }>()
</script>

<main
  style={`background-image: url(${bg})`}
  bind:this={main}
  on:mouseleave={() => (bg = bgStatic)}
  on:mouseenter={() => (bg = bgDynamic)}
  on:click={(e) => {
    if (e.target === main) dispatch("click")
  }}
>
  <section>
    <nav>
      {#if zipUrl.length}
        <Button on:click={() => downloadByUrl(zipUrl, title)}>
          <p>zip archive with effect</p>
          <IcZip />
        </Button>
      {/if}
      {#if sourcesfUrl.length}
        <Button on:click={() => downloadByUrl(sourcesfUrl, title + "_source")}>
          <p>source files</p>
          <IcFile />
        </Button>
      {/if}
    </nav>
    <div>
      <h3>{title}</h3>
      <p>
        {description}
      </p>
    </div>
  </section>
</main>

<style lang="postcss">
  main {
    height: 14.875rem;
    width: 100%;
    border-radius: 0.375rem;
    position: relative;
    overflow: hidden;
    border: 0.125rem solid #4e4e54;
    background-repeat: no-repeat;
    background-size: cover;
  }

  main:hover {
    cursor: pointer;

    & section {
      transition: 0.4s ease-in-out;
      transform: translateY(0);
    }

    &::after {
      content: "";
      background-color: rgba(33, 33, 40, 0.5);
      opacity: 0.5;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
    }

    & nav {
      display: flex;
    }
  }

  section {
    transform: translateY(calc(100% - 1.625rem));
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  nav {
    display: none;
    justify-content: flex-end;
    margin-bottom: 0.375rem;

    & > :global(button) {
      &:hover > :global(p) {
        display: block;
      }

      & > :global(svg) {
        width: 1.375rem;
        height: 1.375rem;
      }

      & > :global(p) {
        padding: 0.25rem;
        top: -1rem;
        right: 1rem;
        font-size: 0.625rem;
        font-weight: 400;
        font-style: italic;
        background: rgba(22, 23, 36, 0.6);
        border-radius: 0.375rem;
        border: 1px solid rgba(140, 142, 161, 0.29);
        position: absolute;
        transform: translate(1rem, -1rem);
        display: none;
      }
    }
  }

  div {
    width: 100%;
    background: rgba(33, 33, 40, 0.7);
    border-radius: 0 0 0.25rem 0.25rem;
    font-size: 0.5rem;
    font-weight: 400;
    font-style: italic;
    overflow: hidden;
    color: var(--text-color);
    padding: 0.5rem;
  }

  h3 {
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
  }

  p {
    overflow: hidden;
    margin-top: 0.625rem;
    line-height: 0.575rem;
  }
</style>
