<script lang="ts">
  import { getContext } from "svelte"
  import { effect, notifications } from "$lib/stores"
  import { promptUploadFile } from "$lib/utils"
  import { WebStudioException } from "$lib/global/exceptions"
  import Button from "$lib/components/Button.svelte"
  import TemplatePreview from "./TemplatePreview.svelte"
  import IcLargePlus from "$lib/icons/IcLargePlus.svelte"
  import IcLargeFolder from "$lib/icons/IcLargeFolder.svelte"
  import IcClose from "$lib/icons/IcClose.svelte"

  const { close } = getContext("simple-modal")

  const load = () => {
    promptUploadFile({ accept: ".zip" })
      .then($effect.load)
      .catch((err) => {
        if (!(err instanceof WebStudioException)) throw new Error(err)
        notifications.error(err.message)
      })
      .finally(() => close())
  }
</script>

<div>
  <Button on:click={close}>
    <IcClose />
  </Button>
  <h2>Project</h2>
  <section class="buttons">
    <Button on:click={() => $effect.new().then((_) => close())}>
      <IcLargePlus />
      <h3>New project</h3>
    </Button>
    <Button on:click={load}>
      <IcLargeFolder />
      <h3>Open project</h3>
    </Button>
  </section>
  <h2>Templates</h2>
  <h3>Get started fast with pre-made templates</h3>
  <section class="templates-list">
    <TemplatePreview
      on:click={() => {
        close()
        $effect.load("/effects/Glasses.zip")
      }}
      zipUrl={"/effects/Glasses.zip"}
      title="Face decoration"
      description="This template allows you to explore the possibilities of trying on sunglasses. It is also possible to customize the glasses by changing the pbr textures"
      bgDynamic={"/gifs/Glasses.gif"}
      bgStatic={"/images/FacedecorationPreview.jpg"}
    />
    <TemplatePreview
      on:click={() => {
        close()
        $effect.load("/effects/Lut.zip")
      }}
      zipUrl={"/effects/Lut.zip"}
      sourcesfUrl={"/effects/sources/LUTsSource.zip"}
      title="Color Corretion"
      description="This template allows you to explore the possibilities of color correction. For an example, you can see the option with black and white color correction, as well as other options attached in the archive"
      bgDynamic={"/gifs/Lut.gif"}
      bgStatic={"/images/LutPreview.jpg"}
    />
    <TemplatePreview
      on:click={() => {
        close()
        $effect.load("/effects/Background.zip")
      }}
      zipUrl={"/effects/Background.zip"}
      sourcesfUrl={"/effects/sources/BackgroundSource.zip"}
      title="Background"
      description="This template allows you to explore the possibilities of background segmentation. You can also customize your own mask with background separation by replacing the texture in the background category."
      bgDynamic={"/gifs/Background.gif"}
      bgStatic={"/images/BackgroundPreview.jpg"}
    />
    <!-- <TemplatePreview
      on:click={() => {
        close()
        $effect.load("/effects/Cap.zip")
      }}
      zipUrl={"/effects/Cap.zip"}
      title="Head decoration"
      description="This template demonstrates the possibilities of trying on hats."
      bgDynamic={"/gifs/Cap.gif"}
      bgStatic={"/images/HeadDecorationPreview.jpg"}
    /> -->
    <TemplatePreview
      on:click={() => {
        close()
        $effect.load("/effects/Earring.zip")
      }}
      zipUrl={"/effects/Earring.zip"}
      title="Ears decoration"
      description="This template demonstrates the possibilities of trying on earrings. It also demonstrates the work of physics"
      bgDynamic={"/gifs/Earring.gif"}
      bgStatic={"/images/EarringPreview.jpg"}
    />
  </section>
</div>

<style lang="postcss">
  div {
    background-color: #2f2f37;
    padding: 2.125rem 5.625rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.22);

    & > :global(button) {
      position: absolute;
      right: 0.75rem;
      top: 0.75rem;
    }
  }

  h2,
  h3 {
    font-size: 1.5rem;
    font-style: italic;
    color: var(--text-color);
  }

  h3 {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.625rem;
  }

  .buttons {
    display: flex;
    margin: 2rem 0;

    & > :global(button) {
      flex-direction: column;
      position: relative;
      width: 11rem;
      height: 8.75rem;
      background-color: #4e4e54;
      border-radius: 0.5rem;

      & > :global(h3) {
        background: rgba(33, 33, 40, 0.7);
        border-radius: 0 0 0.5rem 0.5rem;
        width: calc(100% - 0.25rem);
        position: absolute;
        bottom: 0.125rem;
        right: 0.125rem;
      }
    }

    & > :global(button):not(:first-child):not(:last-child) {
      margin: 0 1.375rem;
    }

    & > :global(button):first-child {
      margin-right: 1.375rem;
    }

    & > :global(button):last-child {
      margin-left: 1.375rem;
    }
  }

  .templates-list {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    & > :global(*):not(:first-child):not(:last-child) {
      margin: 0 1.375rem;
    }

    & > :global(*):first-child {
      margin-right: 1.375rem;
    }

    & > :global(*):last-child {
      margin-left: 1.375rem;
    }
  }
</style>
