<script lang="ts">
  import IcAlert from "$lib/icons/IcAlert.svelte"

  export let msg
</script>

<p>
  <IcAlert />
  {msg}
</p>

<style lang="postcss">
  p {
    display: flex;
    align-items: center;
    height: 1.75rem;
    font-style: italic;

    & > :global(svg) {
      margin: 0.5rem 0.5rem 0.5rem 0.75rem;
    }
  }
</style>
