<script lang="ts">
  import { CodeJar } from "codejar"
  import { withLineNumbers } from "codejar/linenumbers"
  import Prism from "prismjs"

  export let lang = ""
  export let code = ""
  export let autofocus = true
  export let loc = true
  export let style = ""

  const codedit = (node: HTMLElement, { code, autofocus = false, loc = false, ...options }) => {
    const highlight = loc ? withLineNumbers(Prism.highlightElement) : Prism.highlightElement
    const editor = CodeJar(node, highlight as any, options)

    editor.onUpdate((code: string) => {
      const e = new CustomEvent("change", { detail: code })
      node.dispatchEvent(e)
    })

    const update = ({ code, autofocus = false, loc = false, ...options }) => {
      editor.updateOptions(options)
      if (editor.toString() !== code) {
        editor.updateCode(code)
      }
    }

    update({ code, autofocus, loc, ...options })

    autofocus && node.focus()

    return {
      update,
      destroy() {
        editor.destroy()
      },
    }
  }
</script>

<div class="container" {style}>
  <div
    use:codedit={{ code, autofocus, loc, ...$$restProps }}
    class="language-{lang} editor"
    on:change
  />
</div>
