<script lang="ts">
  import { getContext } from "svelte"
  import Button from "$lib/components/Button.svelte"
  import IcFeedback from "$lib/icons/IcFeedback.svelte"
  import FeedbackForm from "./FeedbackForm.svelte"

  const { open } = getContext("simple-modal")

  const showFeedbackForm = () => {
    open(
      FeedbackForm,
      {},
      {
        closeButton: false,
        closeOnEsc: false,
        closeOnOuterClick: false,
        styleContent: { paddingTop: "0", paddingBottom: "0", paddingLeft: "0", paddingRight: "0" },
        styleBg: { background: "rgba(34, 34, 41, 0.8)" },
      }
    )
  }
</script>

<Button class={$$props.class} on:click={showFeedbackForm}>
  <IcFeedback />
  <span>Feedback</span>
</Button>
