<script lang="ts">
  import { getContext } from "svelte"
  import { email as emailjs } from "$lib/stores/email"
  import { variables } from "$lib/global/variables"
  import notifications from "$lib/stores/notifications"
  import Button from "$lib/components/Button.svelte"
  import IcDone from "$lib/icons/IcDone.svelte"
  import { googleAnalytics } from "$lib/analytics"

  const { close } = getContext("simple-modal")
  const EMAIL = /\S+@\S+\.\S+/

  export let placeholderInput = "Enter your email"
  export let placeholderTextarea = "Please enter your comment here"
  export let textAreaMaxLength = 2000

  $: email = ""
  $: message = ""
  $: validEmail = true
  $: showContent = true

  $: templateParams = {
    message: message,
    reply_to: email,
  }

  const send = (): void => {
    $emailjs
      .send(variables.emailJsClientServiceId, variables.emailJsTemplateId, templateParams)
      .then((_) => {
        showContent = false
        setTimeout(() => close(), 3000)
      })
      .catch((_) => {
        notifications.error("Error during message sending")
      })
    googleAnalytics.topBar.feedbackSent()
  }

  const validateEmail = (): void => {
    validEmail = EMAIL.test(email)
  }
</script>

<div>
  <header>
    <h3>Feedback</h3>
  </header>
  <main class:showContent>
    {#if showContent}
      <span class="email-error" class:validEmail>Please enter a valid email address</span>
      <input
        class:validEmail
        type="text"
        bind:value={email}
        on:change={validateEmail}
        placeholder={placeholderInput}
      />
      <textarea
        maxlength={textAreaMaxLength}
        bind:value={message}
        placeholder={placeholderTextarea}
      />
      <span>{`The length of the message can not exceed ${textAreaMaxLength} characters`}</span>
    {:else}
      <IcDone />
      <p class="thank">Thank you!</p>
      <p class="thank-submit">Thank you for submitting your feedback!</p>
    {/if}
  </main>
  <footer class:showContent>
    <Button disabled={!validEmail || !email.length || !message.length} on:click={send}>Send</Button>
    <Button on:click={close}>Close</Button>
  </footer>
</div>

<style lang="postcss">
  div {
    background-color: var(--bg-color);
  }

  header {
    padding: 0.625rem 1.75rem;
    background-color: var(--bg-color-lighter);
  }

  h3 {
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: var(--text-color);
  }

  input {
    width: 100%;
  }

  main {
    padding: 1.75rem 1.625rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:not(.showContent) {
      align-items: center;
    }

    & > :global(svg) {
      margin-top: 1rem;
    }

    & > .thank {
      font-size: 1.75rem;
      font-weight: 700;
      color: var(--text-color);
      margin-top: 1.75rem;
    }

    & > .thank-submit {
      margin-top: 1.375rem;
      margin-bottom: 4.5rem;
      color: var(--text-color);
      font-size: 1.125rem;
      font-weight: 700;
    }

    & > span {
      font-size: 0.5rem;
      color: var(--text-color-secondary);
      margin-bottom: 0.25rem;
      margin-top: 0.25rem;
    }

    & > .email-error.validEmail {
      display: none;
    }

    & > .email-error:not(.validEmail) {
      display: block;
      color: #ff6d5d;
    }

    & > textarea {
      resize: none;
      width: 100%;
      height: 10rem;
      margin-top: 1rem;
    }

    & > input {
      height: 2rem;

      &:not(.validEmail) {
        border: 0.125rem solid #ff6d5d;
      }
    }

    & > textarea,
    & > input {
      padding: 0.5rem;
      background-color: #dedfe1;
      border: none;
      border-radius: 0.125rem;
      font-size: 0.75rem;
      line-height: 0.875rem;
      font-weight: 700;
    }
  }

  footer {
    padding: 0.5rem 1.625rem 1.75rem;
    display: flex;
    justify-content: flex-end;

    & > :global(button) {
      width: 4.625rem;
      height: 2rem;
      font-weight: 700;
      font-size: 1rem;
      border-radius: 0.125rem;

      &:nth-child(1) {
        background-color: #3ed67e;
        margin-right: 1rem;
      }

      &:nth-child(2) {
        background-color: #ff6d5d;
      }
    }
  }

  footer:not(.showContent) {
    display: none;
  }
</style>
