<script lang="ts">
  import Button from "$lib/components/Button.svelte"
  import IcObjectArrow from "$lib/icons/IcObjectArrow.svelte"
  import Separator from "$lib/components/Separator.svelte"

  export let title: string
  export let open = true
</script>

<div>
  <Separator />
  <div class="category">
    <slot name="icon" />
    <span>{title}</span>
    <Button class="arrow" on:click={() => (open = !open)} tertiary>
      <IcObjectArrow down={open} />
    </Button>
  </div>
  <div class="content" class:open>
    <slot />
  </div>
</div>

<style lang="postcss">
  .category {
    margin-top: 0.75rem;
    display: flex;
    align-items: center;

    & > :global(.expand) {
      padding-left: 0;
    }

    & > :global(.arrow) {
      margin-left: auto;
      padding-right: 0.275rem;
    }

    & > span {
      font-size: var(--font-size-m);
      font-weight: bold;
      margin-left: 0.5rem;
    }
  }

  .content:not(.open) {
    display: none;
  }

  .content {
    margin-left: 0.5rem;
  }
</style>
