<script lang="ts">
  import { createEventDispatcher } from "svelte"
  import CheckBox from "$lib/components/CheckBox.svelte"
  import Button from "$lib/components/Button.svelte"

  export let title: string
  export let checked = true

  const dispatch = createEventDispatcher<{ active: void }>()
</script>

<div>
  <Button disabled={!checked} secondary on:click>
    <slot />
    <span>{title}</span>
  </Button>
  <CheckBox bind:checked on:change={() => dispatch("active")} />
</div>

<style lang="postcss">
  div {
    display: flex;
    align-items: center;
    padding-left: 0.625rem;
    margin: 0.375rem 0;
  }

  span {
    font-size: var(--font-size-m);
    font-weight: normal;
    font-style: italic;
  }

  :global(input[type="checkbox"]) {
    margin-left: auto;
  }
</style>
