<script context="module">
  const colors = ["#FF6D5D", "#1ABDFF", "#9540FF", "#3ED67E", "#FDBD41"]
</script>

<script lang="ts">
  import { Entity, object } from "$lib/stores/effect"
  import Button from "$lib/components/Button.svelte"
  import IcObject from "$lib/icons/IcObject.svelte"
  import IcArrow from "$lib/icons/IcArrow.svelte"
  import CheckBox from "$lib/components/CheckBox.svelte"
  import IcFile from "$lib/icons/IcFile.svelte"

  export let open = true
  export let color: string
  export let depth = 0
  export let entity: Entity

  $: ({ title, children, materials } = entity)
  $: last = children.length === 0
  $: root = depth === 0
  $: selected = entity.contains($object as Entity)
  $: show =
    (materials.length || children.find((child) => !child.title.startsWith("_"))) &&
    !title.startsWith("_") &&
    !title.startsWith("camera") &&
    !title.startsWith("internal") &&
    !title.startsWith("composer") &&
    !title.startsWith("final") &&
    !title.startsWith("!glfx")
</script>

{#if show}
  <div class="entity" class:last class:root>
    {#if !last}
      <Button on:click={() => (open = !open)} tertiary>
        <IcArrow down={open} />
      </Button>
    {/if}
    {#if root}
      <IcFile />
    {:else}
      <IcObject {color} />
    {/if}
    <Button
      class="select"
      on:click={() => {
        $object = entity
      }}
      secondary={!selected}
    >
      <span>{title}</span>
    </Button>
    {#if !root}
      <CheckBox bind:checked={entity.active} />
    {/if}
  </div>
{/if}

{#if children}
  <ol class:open>
    {#each children as child, i}
      <li>
        <svelte:self entity={child} depth={depth + 1} color={color || colors[i % colors.length]} />
      </li>
    {/each}
  </ol>
{/if}

<style lang="postcss">
  .entity {
    display: flex;
    align-items: center;

    & > :global(button) {
      padding-top: 0.125rem;
      padding-right: 0.275rem;
      &:first-child {
        padding-right: 0.05rem;
      }
    }

    & > :global(input[type="checkbox"]) {
      flex-shrink: 0;
    }

    & > :global(input[type="checkbox"] + button) {
      margin-left: 0;
    }

    & > :global(svg) {
      margin: 0 0.125rem 0.125rem 0.375rem;
      color: var(--text-color-secondary);

      &:first-of-type {
        flex-shrink: 0;
      }
    }

    & > :global(.select) {
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  ol {
    padding-left: 1rem;
    overflow: hidden;

    &:not(.open) {
      display: none;
    }
  }

  li {
    position: relative;

    &:after {
      content: "";
      display: block;
      height: 99999px;
      width: 0.063rem;
      top: 0.575rem;
      left: -0.5rem;
      background-color: var(--text-color-tertiary);
      position: absolute;
      transform: translate(-50%, -100%);
    }

    &:before {
      content: "";
      display: block;
      width: 0.5rem;
      height: 0.063rem;
      top: 0.5rem;
      left: -0.5rem;
      background-color: var(--text-color-tertiary);
      position: absolute;
    }
  }

  .last {
    margin-left: 0.825rem;
  }

  span {
    font-style: italic;
    font-weight: normal;
    font-size: var(--font-size-m);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    display: block;
  }
</style>
