<script lang="ts">
  import { countDecimals } from "../../utils"
  import Button from "$lib/components/Button.svelte"
  import IcNumberInputArrow from "$lib/icons/IcNumberInputArrow.svelte"

  const MAX = 9999999
  const MIN = -9999999

  export let defaultValue = 0
  export let value = 0
  export let step = 1
  export let min: number = MIN
  export let max: number = MAX
  export let controls = true
  export let coordinate: string

  $: precision = countDecimals(step)
  $: value = Number(value.toFixed(precision))

  const valid = (val: number) => val >= min && val <= max
</script>

<div class:controls>
  <input
    type="number"
    class={$$props.class}
    {step}
    {min}
    {max}
    {value}
    placeholder={String(defaultValue)}
    on:input={({ currentTarget }) => {
      if (Number.isFinite(currentTarget.valueAsNumber) && valid(currentTarget.valueAsNumber))
        value = currentTarget.valueAsNumber
    }}
    on:blur={({ currentTarget }) => {
      if (Number.isNaN(currentTarget.valueAsNumber) || !valid(currentTarget.valueAsNumber)) {
        currentTarget.value = String((value = defaultValue))
      }
    }}
    on:change
  />
  {#if controls}
    <div class="buttons">
      <Button class="up" on:click={() => (value += step)}>
        <IcNumberInputArrow />
      </Button>
      <span>{coordinate}</span>
      <Button class="down" on:click={() => (value -= step)}>
        <IcNumberInputArrow down />
      </Button>
    </div>
  {/if}
</div>

<style lang="postcss">
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }

  input[type="number"] {
    border: none;
    border-radius: 0.125rem;
    display: block;
    text-align: center;
    font-size: 0.625rem;
    font-weight: 700;
    color: var(--text-color);
    background: #4e4e54;
    appearance: textfield;
  }
  div:not(.controls) > input[type="number"] {
    height: 1.125rem;
    width: 1.5rem;
  }

  div.controls {
    position: relative;

    & > .buttons {
      position: absolute;
      top: 0.125rem;
      right: 0.125rem;
      background-color: transparent;
      box-shadow: -0.25rem 0 0.125rem var(--bg-color);

      & > :global(.up) {
        top: -0.125rem;
        right: -0.125rem;
        padding: 0;
      }

      & > :global(.down) {
        top: 0.8rem;
        right: -0.125rem;
        padding: 0;
      }

      & > span {
        top: 0.45rem;
        right: 0.185rem;
        font-size: 0.5rem;
        font-weight: bold;
        margin: 0.125rem 0;
        display: block;
      }
    }

    & > input[type="number"] {
      font-style: normal;
      width: 2.75rem;
      height: 1.375rem;
      margin-left: 0.375rem;
      background: transparent;
      border: 0.063rem solid #33333c;
    }
  }
</style>
