@import "reset.css";
@import "theme.dark.css";
@import "typography.css";
@import "utils.css";
@import "code-editor.css";

body,
html {
  height: 100%;
}

.aspect-ratio-pollyfill11 {
  width: 62%;
  aspect-ratio: 1/1;
}

.aspect-ratio-pollyfill169 {
  aspect-ratio: 16/9;
}

.aspect-ratio-pollyfill43 {
  width: 90%;
  aspect-ratio: 4/3;
}

.aspect-ratio-pollyfill916 {
  width: 35%;
  aspect-ratio: 9/16;
}

* {
  user-select: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
