.container {
  overflow-y: scroll;
}

.editor {
  height: 100% !important;
  margin-top: 0;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: italic;
  height: 24.5rem;
  letter-spacing: normal;
  line-height: 1.25rem;
  padding: 0.625rem;
}

.token.keyword {
  color: #1abdff;
}

.token.string {
  color: #e38833;
}

.token.number {
  color: #f4be5a;
}

.token.comment {
  color: #686a7b;
}

.codejar-linenumbers {
  /* the only way to easilly customize linenumbers is using !important :((*/
  background-color: transparent !important;
}
