:root {
  --bg-color: radial-gradient(44.76% 74.08% at 3.72% 1.55%, #2f2f37 0%, #212128 100%);
  --bg-color-darker: #1b1b22;
  --bg-color-lighter: #212128;

  --text-color: #ffffff;
  --text-color-secondary: #8c8ea1;
  --text-color-tertiary: #3c3e52;
}
