:root {
  --font-size-s: 0.5625rem; /* 9px */
  --font-size-m: 0.75rem; /* 12px */
  --font-size-l: 0.8125rem; /* 13px */
}

html {
  color: var(--text-color);
  font-family: Arial, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-l);
  font-weight: bold;
}
