<script lang="ts">
  import Separator from "./Separator.svelte"
  import IcObjectArrow from "$lib/icons/IcObjectArrow.svelte"

  export let open = false
  export let title: string
</script>

<details bind:open>
  <summary>
    <div>
      <slot name="icon" />
      <h3>{title}</h3>
      <slot name="button" />
      <IcObjectArrow down={open} />
    </div>
  </summary>
  <slot />
</details>

<style lang="postcss">
  h3 {
    margin-right: auto;
  }

  details {
    padding: 1rem;
    list-style: none;
    position: relative;

    &:not(:last-child) {
      border-bottom: 0.063rem solid var(--bg-color-lighter);
    }

    &[open] summary {
      padding-bottom: 0.375rem;
    }
  }

  summary {
    list-style: none;
    align-items: center;
    cursor: pointer;

    & > div {
      align-items: center;
      display: flex;
    }

    &::marker {
      display: none;
    }

    /* https://github.com/postcss/autoprefixer/issues/1418 */
    &::-webkit-details-marker {
      display: none;
    }

    & > div {
      & > :global(svg) {
        min-width: 0.625rem;
        min-height: 0.625rem;
        color: var(--text-color);
      }

      & > :global(svg:first-of-type) {
        margin-right: 0.75rem;
      }
    }
  }
</style>
