<script lang="ts">
  import { Meta, Story } from "@storybook/addon-svelte-csf"
  import { action } from "@storybook/addon-actions"
  import Button from "./Button.svelte"
</script>

<Meta title="Button" component={Button} />

<Story name="Default" let:args>
  <Button {...args} on:click={action("Clicked!")}>The button</Button>
</Story>
