<script lang="ts">
  import { onMount } from "svelte"

  import Button from "./Button.svelte"

  export let isOpen = false

  const listener = (_) => (isOpen = false)

  onMount(() => {
    window.addEventListener("mouseup", listener)
    return () => window.removeEventListener("mouseup", listener)
  })
</script>

<div class={$$props.class}>
  <Button secondary on:click={() => (isOpen = !isOpen)}>
    <slot name="buttonContent" />
  </Button>
  <div class="content" class:isOpen>
    <slot />
  </div>
</div>

<style lang="postcss">
  .content:not(.isOpen) {
    display: none;
  }

  .content {
    display: flex;
    position: absolute;
    top: 2rem;
    left: -4rem;
  }

  div {
    display: flex;
    position: relative;
  }
</style>
