<script lang="ts">
  export let checked: boolean
  export let tick = true
</script>

<input class={$$props.class} class:tick type="checkbox" bind:checked on:change />

<style lang="postcss">
  input[type="checkbox"] {
    position: relative;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.125rem;
    background-color: #33333c;
    appearance: none;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    &:not(.tick):before {
      content: "";
      display: block;
      width: 0.25rem;
      height: 0.25rem;
      border-style: solid;
      border-color: var(--text-color-secondary);
      border-width: 0.125rem;
      border-radius: 0.125rem;
      opacity: 0;
    }

    &.tick {
      &:before {
        content: "";
        display: block;
        width: 0.25rem;
        height: 0.375rem;
        border-style: solid;
        border-color: var(--text-color-secondary);
        border-width: 0 0.15rem 0.15rem 0;
        transform: rotate(45deg);
        opacity: 0;
      }
    }

    &:checked {
      border-color: var(--bg-color-lighter);
      background: #4e4e54;

      &:before {
        opacity: 1;
      }
    }

    &:hover {
      background: var(--text-color-tertiary);
    }
  }
</style>
