<script lang="ts">
  export let aspectRatio = null
</script>

<section class:aspectRatio>
  <header>
    <slot name="header" />
  </header>
  <main
    class={`${aspectRatio ? `aspect-ratio-pollyfill${aspectRatio.replace("/", "")}` : ""} bg-main`}
  >
    <slot name="main" />
  </main>
  <footer>
    <slot name="footer" />
  </footer>
</section>

<style lang="postcss">
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 15.625rem;
  }

  section.aspectRatio {
    align-items: center;
  }

  header:not(:empty),
  footer:not(:empty) {
    display: flex;
    align-items: center;
    min-height: 2rem;
    padding: 0.125rem;
    padding-left: 1.5rem;

    & > :global(h3) {
      margin-left: 0.25rem;
    }
  }

  main:not([class^="aspect-ratio-pollyfill"]) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
  }

  main {
    min-height: 0;
  }
</style>
