<script lang="ts">
  import { createEventDispatcher } from "svelte"
  import { promptUploadFile } from "$lib/utils"
  import Button from "$lib/components/Button.svelte"
  import IcPhoto from "$lib/icons/IcPhoto.svelte"

  const dispatch = createEventDispatcher<{ change: File }>()

  export let options = { accept: "*", isTexture: true }

  const onImport = () => {
    // FIXME: sdk resource manager does not work with special symbols
    options = { ...options, isTexture: true }
    promptUploadFile(options).then((file) => dispatch("change", file))
  }

  export let text = ""
</script>

<div class="file-input">
  <Button class="import" on:click={() => onImport()} secondary>
    <IcPhoto color={text.length ? "#26A796" : ""} />
    <span>{text}</span>
  </Button>
</div>

<style lang="postcss">
  .file-input > :global(.import) {
    background: #222229;
    border-radius: 0.125rem;
    border: 1px solid #33333c;
    width: 6.625rem;
    height: 1.375rem;
    padding: 0.125rem;

    & > :global(span) {
      margin-right: auto;
      font-weight: 400;
      font-style: italic;
      flex-shrink: 10;
      color: var(--text-color-secondary);
    }
  }
</style>
