<script lang="ts">
  const colors = { red: "#FF6C5C", blue: "#1ABDFF", purple: "#943FFF", white: "#c4c4c4" }

  export let gradient = false
  export let min: number
  export let max: number
  export let value = min
  export let step = 1
  export let color: keyof typeof colors

  $: trackColorWidth = ((value - min) / (max - min)) * 85
</script>

<div class="input">
  <div class="track-color" style={`background: ${colors[color]}; width: ${trackColorWidth}%`} />
  <input
    type="range"
    class:gradient
    class={$$props.class}
    {step}
    {min}
    {max}
    bind:value
    on:change
    on:input
  />
</div>

<style lang="postcss">
  .input {
    position: relative;
    display: flex;
    align-items: center;
  }

  .track-color {
    max-width: 85%;
    top: 0.15rem;
    left: 0.15rem;
    position: absolute;
    height: 0.25rem;
    border-radius: 0.5rem;
  }

  input[type="range"] {
    padding-right: 0.625rem;
    width: 7rem;
    background: none;
  }

  input[type="range"] {
    -webkit-appearance: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 0.25rem;
    background: #4e4e54;
    border-radius: 0.5rem;
  }

  input[type="range"]::-webkit-slider-thumb {
    position: relative;
    z-index: 1;
    -webkit-appearance: none;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 30px;
    background: var(--text-color);
    margin-top: -0.1rem;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  input[type="range"]::-moz-range-thumb {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 30px;
    background: var(--text-color-secondary);
    margin-top: -0.2rem;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  input[type="range"]::-moz-range-track {
    height: 0.125rem;
    background: #4e4e54;
    border-radius: 0.5rem;
  }

  input[type="range"].gradient::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, #222229 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
  }

  input[type="range"].gradient::-moz-range-track {
    background: linear-gradient(90deg, #222229 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
  }

  input[type="range"]:focus {
    outline: none;
  }

  /* 
  &:not(.gradient) {
      background: #4e4e54;
    }

    &.gradient {
      background: linear-gradient(90deg, #222229 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    } */
</style>
