<script lang="ts">
  import Button from "./Button.svelte"
  import IcArrow from "../icons/IcArrow.svelte"

  interface Option {
    id?: number
    title: string
    url?: string
    value?: string | number
  }

  export let options: Option[]
  export let selected = options[0]
  export let open = false
  export let active = true
  export let action = (...args) => {}

  const selectOption = (option) => {
    selected = option
    open = !open
    action(option)
  }
</script>

<details bind:open class={$$props.class} class:active>
  <summary>
    <span>{selected.title}</span>
    <IcArrow down={true} />
  </summary>
  {#if options.length}
    <ul>
      {#each options as option}
        <li>
          <Button on:click={() => selectOption(option)}>
            <span>{option.title}</span>
          </Button>
        </li>
      {/each}
    </ul>
  {/if}
</details>

<style lang="postcss">
  details:not(.active) {
    pointer-events: none;
  }

  details {
    width: 8.125rem;
  }

  details[open] summary:before {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }

  summary > :global(svg) {
    right: 0.375rem;
    position: absolute;
    color: var(--text-color-secondary);
  }

  details[open] > summary {
    border-radius: 0.125rem 0.125rem 0 0;

    & > span {
      padding: 0.25rem 0.5rem;
    }
  }

  summary {
    position: relative;
    cursor: pointer;
    background-color: #4e4e54;
    border-radius: 0.125rem;
    list-style: none;
    height: 1.375rem;

    & > span {
      font-style: italic;
      width: calc(100% - 1rem);
    }

    /* https://github.com/postcss/autoprefixer/issues/1418 */
    &::-webkit-details-marker {
      display: none;
    }
  }

  summary::marker {
    display: none;
  }

  ul {
    width: 8.125rem;
    position: absolute;
    background: #4e4e54;
    padding: 0 0.5rem;
    margin: 0;
    border-radius: 0 0 0.125rem 0.125rem;
    max-height: 8.575rem;
    overflow-y: auto;
    z-index: 2;
  }

  li {
    margin: 0;

    &:last-child {
      border: none;
    }

    & > :global(button) {
      width: 100%;
    }
  }

  li,
  summary {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    font-size: var(--font-size-m);
    font-weight: normal;
    font-style: italic;
    width: 100%;
  }
</style>
