<script lang="ts">
  export let vertical = false
</script>

<div class={$$props.class} class:vertical />

<style lang="postcss">
  div {
    background-color: #33333c;
  }

  div:not(.vertical) {
    height: 0.125rem;
  }

  .vertical {
    height: 100vh;
    max-width: 0.25rem;
    min-width: 0.25rem;
    margin: 0 0.625rem;
  }
</style>
