<script lang="ts">
  import { afterUpdate, onMount } from "svelte"

  export let min: number
  export let max: number
  export let value: number
  export let step = 1

  let inputSlider: HTMLElement
  let sliderValue: HTMLElement
  let thumbOffset = null

  const MAX_PERCENTAGE = 100

  $: leftPercentage = (min / (max - min)) * MAX_PERCENTAGE
  $: rightPercentage = (max / (max - min)) * MAX_PERCENTAGE

  $: highlightMinus = value < 0
  $: highlightPlus = value > 0

  $: minusGradientStyle = `
     right: ${Math.abs(rightPercentage)}%; 
     width: ${highlightMinus ? Math.abs(MAX_PERCENTAGE - rightPercentage - thumbOffset) - 2 : 0}%;
     `

  $: plusGradientStyle = `
     left: ${Math.abs(leftPercentage)}%; 
     width: ${highlightPlus ? Math.abs(Math.abs(leftPercentage) - thumbOffset) - 4 : 0}%;
     `

  const calcValueBlockOffset = () => {
    const distance = max - min
    const value = inputSlider.value - min
    return (value / distance) * MAX_PERCENTAGE
  }

  const update = () => {
    thumbOffset = calcValueBlockOffset()
    sliderValue.style.left = thumbOffset + "%"
  }

  afterUpdate(() => {
    update()
  })

  onMount(() => {
    update()
  })
</script>

<div class="input">
  <div>
    <span bind:this={sliderValue}>
      {value}
    </span>
  </div>
  <span class="minus" class:highlightMinus>-</span>
  <div class="minus-gradient" class:highlightMinus style={minusGradientStyle} />
  <input
    type="range"
    class={$$props.class}
    {min}
    {max}
    {step}
    bind:value
    bind:this={inputSlider}
    on:change
    on:input={update}
  />
  <span class="plus" class:highlightPlus>+</span>
  <div class="plus-gradient" class:highlightPlus style={plusGradientStyle} />
</div>

<style lang="postcss">
  .input {
    position: relative;

    & > span {
      font-size: 0.5rem;
      color: var(--text-color-secondary);
      display: block;
      position: absolute;
    }

    & > .highlightMinus {
      color: #ff6c5c;
    }

    & > .highlightPlus {
      color: #26998b;
    }

    & > .minus-gradient,
    & > .plus-gradient {
      position: absolute;
      top: 0.625rem;
      width: 0;
      height: 0.185rem;
      background: linear-gradient(270deg, #4e4e54 0%, rgba(255, 255, 255, 0) 100%), #ff6c5c;
    }

    & > .minus-gradient {
      border-radius: 0.5rem 0 0 0.5rem;

      &:not(.highlightMinus) {
        display: none;
      }
    }

    & > .plus-gradient {
      border-radius: 0 0.5rem 0.5rem 0;
      background: linear-gradient(90deg, #4e4e54 0%, rgba(255, 255, 255, 0) 100%), #26998b;
    }

    & > .minus {
      top: 0.275rem;
      left: -0.25rem;
    }

    & > .plus {
      top: 0.35rem;
      right: -0.5rem;
    }

    & > .plus,
    & > .minus {
      font-size: 0.75rem;
    }

    & > div {
      position: relative;
      font-size: 0.5rem;
      width: 6.5rem;
      margin-left: -0.063rem;

      & > span {
        display: flex;
        width: 0.85rem;
        justify-content: center;
        position: absolute;
        bottom: -0.25rem;
      }
    }
  }

  input[type="range"] {
    width: 7rem;
    background: none;
  }

  input[type="range"] {
    -webkit-appearance: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 0.25rem;
    background: #4e4e54;
    border-radius: 0.5rem;
  }

  input[type="range"]::-webkit-slider-thumb {
    position: relative;
    z-index: 1;
    -webkit-appearance: none;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 1.875rem;
    background: var(--text-color);
    margin-top: -0.15rem;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  input[type="range"]::-moz-range-thumb {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 1.875rem;
    background: var(--text-color);
    margin-top: -0.2rem;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  input[type="range"]::-moz-range-track {
    height: 0.25rem;
    background: #4e4e54;
    border-radius: 0.5rem;
  }

  input[type="range"]:focus {
    outline: none;
  }
</style>
