<script lang="ts">
  import { flip } from "svelte/animate"
  import { fly } from "svelte/transition"
  import notifications from "$lib/stores/notifications"
</script>

<div class="notifications">
  {#each $notifications as notification (notification.id)}
    <div animate:flip class="toast" transition:fly={{ y: 30 }}>
      <div class="content">{notification.message}</div>
    </div>
  {/each}
</div>

<style lang="postcss">
  .notifications {
    position: fixed;
    top: 10rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
  }

  .toast {
    flex: 0 0 auto;
    margin-bottom: 0.625rem;
    background: #ff6c5c;
    border-radius: 0.25rem;
  }

  .content {
    padding: 0.625rem;
    font-size: 0.875rem;
    display: block;
    color: white;
    font-weight: bold;
  }
</style>
